<!DOCTYPE html>
<html>

<head th:insert="/student/student-fragments :: student_head">

    <title>Student Home</title>
</head>

<style>
    [v-cloak] {
        display: none
    }

    .allButFooter {
        min-height: calc(80vh - 90px);
    }
</style>

<body id="page-top" class="bg-light" style="font-family: 'Roboto', sans-serif;">

    <div th:insert="/student/student-fragments :: pc-navbar" />
    <div th:insert="/student/student-fragments :: mobile-navbar" />

    <div class="container bg-light">
        <section class="bg-light  position-relative">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3818.600870377255!2d96.12323221488163!3d16.846145322622622!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c194e9ed66de9d%3A0xaba8dc0947f34754!2sACE%20Inspiration!5e0!3m2!1sen!2ssg!4v1663712181869!5m2!1sen!2ssg"
                height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"
                width="100%" class="h-100 position-absolute start-0 top-0 w-100" title="Pinegrow location map"></iframe>
            <div class="d-lg-none invisible mb-5 pb-5 pt-5"></div>
            <div class="container allButFooter pb-5 pt-5">
                <div class="row">
                    <div class="col-lg-7 col-xl-5 ms-auto py-3">
                        <div class="bg-dark p-4 p-lg-5 shadow text-white position-relative">
                            <h2 class="fw-bold h4 mb-4 text-uppercase">Get In Touch</h2>
                            <div class="mb-4 g-0 row">
                                <div class="col-auto">
                                    <i class="fa-solid fa-location-dot me-3 text-primary fs-5"></i>
                                </div>
                                <div class="col"><span class="text-white">No. 169, 9th Floor, MTP Condo, Insein
                                        Road, Than Lan Bus Stop, Hlaing Township, Yangon, Myanmar. </span>
                                </div>
                            </div>
                            <div class="mb-4 g-0 row">
                                <div class="col-auto">
                                    <i class="fa-solid fa-envelope me-3 text-primary fs-5"></i>
                                </div>
                                <div class="col"> <a href="mailto:info@aceinspiration.com"
                                        class="text-white">info@aceinspiration.com</a>
                                </div>
                            </div>
                            <div class="mb-4 g-0 row">
                                <div class="col-auto">
                                    <i class="fa-solid fa-phone me-3 text-primary fs-5"></i>
                                </div>
                                <div class="col"> <a href="tel:+959253257742" class="text-white">+959253257742</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-light pb-5 pt-5 text-center" data-pg-collapsed>
            <div class="container pb-4 pt-4">
                <div class="row">
                    <div class="col-12 col-lg-7 col-md-10 col-xl-6 me-auto ms-auto py-3">
                        <h2 class="fw-bold mb-3 text-uppercase text-dark" style="font-family: 'Inter Tight', sans-serif;">Send Us
                            A message</h2>
                        <form action="https://formspree.io/f/mvoyrpda" method="POST">
                            <div class="mb-3">
                                <input type="text" class="border border-1 border-secondary form-control" name="Name"
                                    placeholder="Enter your name..." />
                            </div>
                            <div class="mb-3">
                                <input type="text" class="border border-1 border-secondary form-control"
                                    name="Phone Number" placeholder="Enter your phone number..." />
                            </div>
                            <div class="mb-3">
                                <input type="email" class="border border-1 border-secondary form-control" name="Email"
                                    placeholder="Enter your email..." />
                            </div>
                            <div class="mb-3">
                                <textarea class="border border-1 border-secondary form-control ps-2 rounded-0"
                                    name="Message" rows="6" placeholder="Enter your message..."></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary d-block mb-0 me-0 ms-0 w-100">Send<i
                                    class="fa-solid fa-paper-plane ms-2"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="mt-md-1  pb-5 pb-md-0 pt-1 text-white" data-pg-collapsed style="background-color: #1a2033;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-xl-8 me-3 pb-0 pt-3">
                    <p class="h6 mb-2" style="font-family: 'Roboto', sans-serif; font-weight: 700;">How To Find Us</p>
                    <div class="mb-1">
                        <p class="mb-2 text-white" style="font-size: 14px; font-weight: 200;"><i
                                class="fa-solid fa-location-dot ps-1 pe-3"></i> No. 169, 9th Floor, MTP Condo, Insein
                            Road, Than Lan Bus Stop, Hlaing Township, Yangon, Myanmar.</p>
                        <p class="mb-2 mt-0 text-white" style="font-size: 14px;"><i
                                class="fa-solid fa-phone pe-3 ps-1 "></i>+959253257742</p> <a
                            href="mailto:info@aceinspiration.com" class="pb-0 pt-0 text-decoration-none text-white"
                            style="font-size: 14px;"><i
                                class="fa-solid fa-envelope pe-3 ps-1 "></i>info@aceinspiration.com</a>
                    </div>
                </div>
                <div class="col-lg-3 col-xl-3 pb-0 pt-3 py-3">
                    <p class="h6 mb-1" style="font-weight: 700;">Get In Touch</p>
                    <div class="d-inline-flex flex-wrap ">
                        <a href="https://www.facebook.com/aceinspiration/" class="text-decoration-none text-white"><i
                                class="fa-brands fa-square-facebook p-1" style="font-size: 25px;"></i></a>
                        <a href="https://mm.linkedin.com/school/ace-inspiration/"
                            class="text-decoration-none text-white"><i class="fa-brands fa-linkedin p-1"
                                style="font-size: 25px;"></i></a>
                    </div>
                    <a class="text-decoration-none text-dark" th:href="@{/student/contactUs}">
                        <div class="mt-2">
                            <button type="button" class="btn btn-outline-light mb-1 ms-0"><i
                                    class="fa-solid fa-headset me-2"></i>Contact Us</button>
                        </div>
                    </a>
                </div>
            </div>
            <hr class="border-secondary mt-1 mb-1" />
            <div class="align-items-center d-flex justify-content-center pb-5 pb-md-2 pt-2 pt-md-2 text-center">
                <p class="mb-0" style="font-size: 14px;">2022. All Rights Reserved - Ace Inspiration</p>
            </div>
        </div>
    </footer>

    <div th:insert="/student/student-fragments :: footer" />

    <script>

        const app = Vue.createApp({
            data() {
                return {
                    userId: '',
                    batchId: '',
                    newMessagesCount: 0,
                    oldMessagesCount: 0,
                    unreadMessagesCount: 0
                }
            },
            methods: {
                getNewMessagesCount() {
                    axios
                        .get(`http://localhost:8080/api/message/countMessagesByBatchId/${this.batchId}`)
                        .then(res => this.newMessagesCount = res.data)
                        .catch(error => console.log(error));
                },
                getOldMessagesCount() {
                    axios
                        .get(`http://localhost:8080/api/user/getUserReadMessagesCountById/${this.userId}`)
                        .then(res => this.oldMessagesCount = res.data)
                        .catch(error => console.log(error));
                }
            },
            mounted() {
                this.batchId = document.getElementById('batchId').value;
                this.userId = document.getElementById('userId').value;
                setInterval(() => {
                    this.getNewMessagesCount();
                    this.getOldMessagesCount();
                    this.unreadMessagesCount = this.newMessagesCount - this.oldMessagesCount;
                }, 500);
            },
        })
        app.mount('#chat');

    </script>

</body>

</html>