<!DOCTYPE html>
<html>

<head th:insert="/student/student-fragments :: student_head">
    <title>Video</title>
</head>

<body id="page-top" class="bg-opacity-25" style="background-color: #f4f4f4;">

    <div th:insert="/student/student-fragments :: pc-navbar" />

    <div th:insert="/student/student-fragments :: mobile-navbar" />

    <div class="container mb-3">
        <h1 class="h2 mb-2 mt-4 text-dark"
            style="font-weight: bold;font-family: 'Roboto', sans-serif;margin-bottom: 3px;">
            [[${courseName}]]
        </h1>
        <i class="fa-chalkboard-teacher fas " style="margin-right: 10px;"></i>
        <span class="text-primary fs-6 fw-bold mb-2" style="font-family: Arimo, sans-serif;margin-right: 8px;">
            Daw Mo Yee Rose,
        </span>
        <span class="text-primary fw-bold mb-2" style="font-family: Arimo, sans-serif;">
            Daw May Zwei
        </span>

        <div class="row">

            <div th:if="${video?.id != null}" class="col-lg-8 pb-3"
                style="margin-bottom: 25px;border-bottom: 1px solid rgb(234,234,234) ;">
                <video width="100%" height="100%" controls controlsList="nodownload">
                    <source th:src="@{${'/courses/' + courseName + '/video/' + video?.name} }" type="video/mp4" />
                </video>
            </div>

            <div class="col pb-3" style="width: 100%;margin-bottom: 25px;border-bottom: 1px solid rgb(234,234,234) ;">
                <div class="row">
                    <div class="col course-accordion">
                        <div class="list-group">

                            <span th:each="batchHasVideo, iter : ${batchHasVideoList}">
                                <a th:href="@{${'/student/showClickedVideo/' + courseName + '/' + batchHasVideo?.video?.id} }"
                                    class="list-group-item list-group-item-action pb-3 pe-1 pt-3">
                                    <div class="col-sm-12 d-flex d-lg-flex justify-content-between w-100">
                                        <div
                                            class="col-12 col-md-12 col-sm-12 justify-content-between justify-content-lg-between row">
                                            <div class="col-9 col-lg-8 col-md-10 col-sm-10 col-xl-9">
                                                <h5 class="fs-6 lh-base mb-1">
                                                    [[${batchHasVideo?.video?.name.substring(0,
                                                    batchHasVideo.video.name.length - 4)}]]
                                                </h5>
                                            </div>
                                            <div
                                                class="align-self-start col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 flex-fill pe-0 ps-0 text-end text-sm-end">
                                                <small class="text-muted">
                                                    <i class="fa fa-play-circle"></i>&nbsp;
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </span>

                        </div>
                    </div>
                </div>
            </div>


            <!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
            <div id="app">
                <input type="hidden" th:value="${batchId}" id="batchId">
                <input type="hidden" th:value="${session?.uid}" id="userId">
                <input type="hidden" th:value="${video?.id}" id="videoId">
                <input type="text" v-model="commentText">
                <button @click="sendComment()">send</button>

                <span v-if="commentList.length > 0">
                    <div v-for="(comment, index) in commentList" :key="comment.id">
                        <p>
                            {{ comment.dateTime }}
                            {{ comment.commentUser.name }} {{ comment.commentText }}
                            <button @click.prevent="toggleShowReply(index)" class="btn btn-primary">
                                <span v-if="!comment.isReplyShow">show reply</span>
                                <span v-else>hide reply</span>
                            </button>
                            <span v-if="comment.isReplyShow">
                                <br>
                                <input type="text" placeholder="reply" v-model="comment.replyText">
                                <button @click.prevent="sendReply(comment.id, index)">Send Reply</button>
                                <br>
                                <span v-for="reply in comment.replyList" :key="reply.id" class="ms-5">
                                    {{ reply.dateTime }} {{ reply.replyUser.name}} {{ reply.replyText }}
                                </span>
                            </span>
                        </p>
                    </div>
                </span>

            </div>


        </div>
    </div>

    <div class="hide-on-desktop">
        <a class="border rounded d-inline scroll-to-top" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>

    <div th:insert="/student/student-fragments :: footer" />
    <script src="/assets/js/studentVideo.js"></script>

</body>

</html>