<!DOCTYPE html>
<html>

<head th:insert="/student/student-fragments :: student_head">
    <title>Assignment</title>
</head>
<style>
    .allButFooter {
        min-height: calc(80vh - 90px);
    }

    .articles a {
        text-decoration: none !important;
        display: block;
        margin-bottom: 0;
        color: #555;
    }

    .articles .badge {
        font-size: 0.7em;
        padding: 5px 10px;
        line-height: 1;
        margin-left: 10px;
    }

    .articles .item {
        padding: 20px;
    }

    .articles .item:nth-of-type(even) {
        background: #fafafa;
    }

    .articles .item .image {
        min-width: 50px;
        max-width: 50px;
        height: 50px;
        margin-right: 15px;
    }

    .articles .item img {
        padding: 3px;
        border: 1px solid #8d8d8d;
    }

    .articles .item h3 {
        color: #555;
        font-weight: 400;
        margin-bottom: 0;
    }

    .articles .item small {
        color: #aaa;
        font-size: 0.75em;
    }

    .card-close {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    [v-cloak] {
        display: none
    }
</style>

<body id="page-top" style="background-color: #E4E6E9 ">
    <div th:insert="/student/student-fragments :: pc-navbar" />
    <div th:insert="/student/student-fragments :: mobile-navbar" />


    <div id="app" class="container allButFooter" v-cloak
        style="margin-top: 22px;padding-right: 10px;padding-left: 10px; margin-bottom: 77px;">
        <input type="hidden" th:value="${session.batchId}" id="batchId">
        <div class="articles card" style="font-family: 'Roboto', sans-serif;">
            <div class="align-items-center card-header d-flex justify-content-between pb-3 pt-3"
                style="background-color: #32499a; color: #ffffff;">
                <div class="row w-100">
                    <div class="align-items-center col-6 col-lg-8 col-xl-9 d-flex"><i
                            class="fa-solid fa-users-line pe-2" style="font-size: 20px;"></i>
                        <h2 class="h3 mb-1 mt-1">Classmates</h2>
                    </div>
                    <div class="col-6 col-lg-4 col-xl-3 d-flex justify-content-end pe-0">

                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" v-model="search"
                            placeholder="Search..." />
                    </div>
                </div>
            </div>
            <div class="card-body no-padding p-0">
                <div v-for="student in filterList" class="align-items-center d-flex item pb-3 pt-3"
                    style="border-top-style: none; border-bottom: 1px solid #cdcdcd;">
                    <div class="image">
                        <img :src=`/profile_pics/${student.profile_pic}` 
                            class="img-fluid rounded-circle" />
                    </div>
                    <div class="text"><a href="#">
                            <h3 class="h5">{{ student.id }}</h3>
                        </a><small class="fs-6"> {{ student.name }} </small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="mt-md-1  pb-5 pb-md-0 pt-1 text-white" data-pg-collapsed
        style="background-color: #1a2033; font-family: 'Roboto', sans-serif;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-xl-7 me-auto pb-0 pt-3">
                    <p class="h6 mb-2" style="font-family: 'Roboto', sans-serif; font-weight: 700;">How To Find Us</p>
                    <div class="mb-1">
                        <p class="mb-2 text-white" style="font-size: 14px; font-weight: 200;"><i
                                class="fa-solid fa-location-dot ps-1 pe-3"></i> No. 169, 9th Floor, MTP Condo, Insein
                            Road, Than Lan Bus Stop, Hlaing Township, Yangon, Myanmar.</p>
                        <p class="mb-2 mt-0 text-white" style="font-size: 14px;"><i
                                class="fa-solid fa-phone pe-3 ps-1 "></i>+959253257742</p> <a href="#"
                            class="pb-0 pt-0 text-decoration-none text-white" style="font-size: 14px;"><i
                                class="fa-solid fa-envelope pe-3 ps-1 "></i>info@aceinspiration.com</a>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 pb-0 pt-3 py-3">
                    <p class="h6 mb-1" style="font-family: 'Roboto', sans-serif; font-weight: 700;">Get In Touch</p>
                    <div class="d-inline-flex flex-wrap ">
                        <a href="https://www.facebook.com/aceinspiration/" class="text-decoration-none text-white"><i
                                class="fa-brands fa-square-facebook p-1" style="font-size: 25px;"></i></a>
                        <a href="https://mm.linkedin.com/school/ace-inspiration/"
                            class="text-decoration-none text-white"><i class="fa-brands fa-linkedin p-1"
                                style="font-size: 25px;"></i></a>
                    </div>
                    <div class="mt-2">
                        <button type="button" class="btn btn-outline-light mb-1 ms-0"><i
                                class="fa-solid fa-headset me-2"></i>Contact Us</button>
                    </div>
                </div>
            </div>
            <hr class="border-secondary mt-1 mb-1" />
            <div class="align-items-center d-flex justify-content-center pb-5 pb-md-2 pt-2 pt-md-2 text-center">
                <p class="mb-0" style="font-size: 14px;">2022. All Rights Reserved - Ace Inspiration</p>
            </div>
        </div>
    </footer>

    <div class="hide-on-desktop">
        <a class="border rounded d-inline scroll-to-top" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>

    <div th:insert="/student/student-fragments :: footer" />
    <!-- datatable-js -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });

        const app = Vue.createApp({
            data() {
                return {
                    search: '',
                    studentList: [],
                }
            },
            methods: {
                getStudentList(batchId) {
                    axios.get(`http://localhost:8080/api/student/getStudentListByBatchId/${batchId}`)
                        .then(res => this.studentList = [...res.data])
                        .catch(error => console.log(error.message));
                }
            },
            computed: {
                filterList() {
                    return this.studentList.filter(student => {
                        return (student.name.toLowerCase().includes(this.search.toLowerCase())
                            || student.id.toLowerCase().includes(this.search.toLowerCase())
                        )
                    })
                }
            },
            mounted() {
                let batchId = document.getElementById("batchId").value;
                this.getStudentList(batchId);
            },
        });

        app.mount('#app');

    </script>
</body>

</html>