<!DOCTYPE html>
<html>

<head th:insert="/student/student-fragments :: student_head">
    <title>Assignment</title>
</head>
<style>
    .allButFooter {
        min-height: calc(80vh - 90px);
    }
</style>

<body id="page-top" style="background-color: #E4E6E9; font-family: 'Roboto', sans-serif; ">
    <div th:insert="/student/student-fragments :: pc-navbar" />
    <div th:insert="/student/student-fragments :: mobile-navbar" />


    <div class="container allButFooter" style="margin-top: 22px;padding-right: 10px;padding-left: 10px;">

        <h2 class="mb-3 me-3 mt-3 text-black-50" style="font-family: 'Inter Tight', sans-serif;">Assignments</h2>
        <div class="card shadow-sm" style="margin-bottom: 85px;">
            <div class="card-body">
                <table id="dataTable" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th class="text-nowrap">Assignment Name</th>
                            <th>Resources</th>
                            <th class="text-nowrap">Due Date</th>
                            <th class="text-nowrap">To Upload</th>
                            <th>Submit</th>
                        </tr>
                    <tbody>

                        <tr th:each="assignment : ${assignmentList}">
                            <form th:action="@{/student/submitAssignment}" th:object="${answer}" method="post"
                                enctype="multipart/form-data">
                                <input type="hidden" th:value="${successMsg}" id="successMsg">
                                <td class="pt-2 text-dark">[[${assignment?.name}]]</td>
                                <td>
                                    <a th:href="@{ ${'/courses/' + assignment?.assignmentBatch?.batchCourse?.name + '/' + assignment?.assignmentBatch?.id + '/'  +  'AssignmentQuestion' + '/' + assignment?.questionFileName} }"
                                        target="_blank"
                                        class="btn shadow-sm bg-gradient btn-sm btn-outline-primary m-0 text-break text-overflow text-truncate w-75"><i
                                            class="fa-solid fa-download me-2"></i>
                                        [[${assignment?.questionFileName}]]
                                    </a>
                                </td>
                                <td style="font-size: 14px;">[[${assignment?.dueDate}]]</td>
                                <td class="pt-1 ">
                                    <input type="hidden" th:value="${session?.uid}" th:name="answerStudent"
                                        th:id="answerStudent">
                                    <input type="hidden" th:value="${assignment.id}" th:name="assignment"
                                        th:id="assignment">
                                    <input class="form-control w-75" type="file" th:field="*{answerFile}" accept=".zip"
                                        required />
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-outline-primary shadow-sm m-0"
                                        title="Send assignment file" data-bs-placement="top" data-bs-toggle="tooltip"
                                        data-bs-delay="500"><i class="fa-solid fa-file-export"></i></button>
                                </td>

                            </form>
                        </tr>

                    </tbody>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <footer class="mt-md-1  pb-5 pb-md-0 pt-1 text-white" data-pg-collapsed style="background-color: #1a2033;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-xl-8 me-3 pb-0 pt-3">
                    <p class="h6 mb-2" style="font-weight: 700;">How To Find Us</p>
                    <div class="mb-1">
                        <p class="mb-2 text-white" style="font-size: 14px; font-weight: 200;"><i
                                class="fa-solid fa-location-dot ps-1 pe-3"></i> No. 169, 9th Floor, MTP Condo, Insein
                            Road, Than Lan Bus Stop, Hlaing Township, Yangon, Myanmar.</p>
                        <p class="mb-2 mt-0 text-white" style="font-size: 14px;"><i
                                class="fa-solid fa-phone pe-3 ps-1 "></i>+959253257742</p> <a href="mailto:info@aceinspiration.com"
                                class="pb-0 pt-0 text-decoration-none text-white" style="font-size: 14px;"><i
                                    class="fa-solid fa-envelope pe-3 ps-1 "></i>info@aceinspiration.com</a>
                    </div>
                </div>
                <div class="col-lg-3 col-xl-3 pb-0 pt-3 py-3">
                    <p class="h6 mb-1" style="font-weight: 700;">Get In Touch</p>
                    <div class="d-inline-flex flex-wrap ">
                        <a href="https://www.facebook.com/aceinspiration/" class="text-decoration-none text-white"><i
                                class="fa-brands fa-square-facebook p-1" style="font-size: 25px;"></i></a>
                        <a href="https://mm.linkedin.com/school/ace-inspiration/"
                            class="text-decoration-none text-white"><i class="fa-brands fa-linkedin p-1"
                                style="font-size: 25px;"></i></a>
                    </div>
                    <a class="text-decoration-none text-dark" th:href="@{/student/contactUs}">
                        <div class="mt-2">
                            <button type="button" class="btn btn-outline-light mb-1 ms-0"><i
                                    class="fa-solid fa-headset me-2"></i>Contact Us</button>
                        </div>
                    </a>
                </div>
            </div>
            <hr class="border-secondary mt-1 mb-1" />
            <div class="align-items-center d-flex justify-content-center pb-5 pb-md-2 pt-2 pt-md-2 text-center">
                <p class="mb-0" style="font-size: 14px;">2022. All Rights Reserved - Ace Inspiration</p>
            </div>
        </div>
    </footer>

    <div class="hide-on-desktop">
        <a class="border rounded d-inline scroll-to-top" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>

    <div th:insert="/student/student-fragments :: footer" />
    <!-- datatable-js -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script>

        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        });


        $(document).ready(function () {
            $('#dataTable').DataTable({
                scrollX: true
            });
        });
    </script>
    <script src="/assets/js/alert.js"></script>
</body>

</html>