<!DOCTYPE html>
<html>

<head th:insert="/student/student-fragments :: student_head">

    <title>Student Home</title>
</head>

<style>
    [v-cloak] {
        display: none
    }

    .allButFooter {
    min-height: calc(80vh - 90px);
    }
</style>

<body id="page-top" class="bg-light" style="font-family: 'Roboto', sans-serif;">

    <div th:insert="/student/student-fragments :: pc-navbar" />
    <div th:insert="/student/student-fragments :: mobile-navbar" />

    <section class="bg-light  position-relative">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3818.600870377255!2d96.12323221488163!3d16.846145322622622!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c194e9ed66de9d%3A0xaba8dc0947f34754!2sACE%20Inspiration!5e0!3m2!1sen!2ssg!4v1663712181869!5m2!1sen!2ssg"
            height="550" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"
            width="100%" class="h-100 position-absolute start-0 top-0 w-100" title="Pinegrow location map"></iframe>
        <div class="d-lg-none invisible mb-5 pb-5 pt-5"></div>
        <div class="container allButFooter pb-5 pt-5">
            <div class="row">
                <div class="col-lg-7 col-xl-5 ms-auto py-3">
                    <div class="mb-lg-0 p-4 p-lg-5 position-relative rounded rounded-5 shadow text-dark"
                        style="background-color: #313131;">
                        <h2 class="fw-bold h4 mb-4 text-light text-uppercase">Get In Touch</h2>
                        <form action="https://formspree.io/f/mwkzovwv" method="POST">
                            <div class="mb-3">
                                <input type="text" name="Name" class="form-control" placeholder="Enter name..." />
                            </div>
                            <div class="mb-3">
                                <input type="email" name="Email" class="form-control" placeholder="Enter email..." />
                            </div>
                            <div class="mb-3">
                                <textarea class="form-control ps-2 pt-1" rows="6" name="Message"
                                    placeholder="Enter your message..."></textarea>
                            </div>
                            <button type="submit"
                                class="btn btn-outline-light d-block mb-0 me-0 ms-0 text-uppercase w-100"><i
                                    class="fa-solid fa-paper-plane me-2"></i>Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container bg-light">
        <section class="pb-5 pt-5 text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 py-3">
                        <div class="ps-lg-4 pe-lg-4">
                            <div class="bg-white d-inline-block mb-4 p-3 rounded-circle shadow text-primary">
                                <svg viewBox="0 0 24 24" fill="currentColor" height="2rem" width="2rem">
                                    <path
                                        d="M9.366 10.682a10.556 10.556 0 0 0 3.952 3.952l.884-1.238a1 1 0 0 1 1.294-.296 11.422 11.422 0 0 0 4.583 1.364 1 1 0 0 1 .921.997v4.462a1 1 0 0 1-.898.995c-.53.055-1.064.082-1.602.082C9.94 21 3 14.06 3 5.5c0-.538.027-1.072.082-1.602A1 1 0 0 1 4.077 3h4.462a1 1 0 0 1 .997.921A11.422 11.422 0 0 0 10.9 8.504a1 1 0 0 1-.296 1.294l-1.238.884zm-2.522-.657l1.9-1.357A13.41 13.41 0 0 1 7.647 5H5.01c-.006.166-.009.333-.009.5C5 12.956 11.044 19 18.5 19c.167 0 .334-.003.5-.01v-2.637a13.41 13.41 0 0 1-3.668-1.097l-1.357 1.9a12.442 12.442 0 0 1-1.588-.75l-.058-.033a12.556 12.556 0 0 1-4.702-4.702l-.033-.058a12.442 12.442 0 0 1-.75-1.588z">
                                    </path>
                                </svg>
                            </div>
                            <h2 class="fw-bold h5 mb-2 text-dark text-uppercase">Phone</h2>
                            <ul class="list-unstyled">
                                <li> <a href="tel:+959253257742" class="text-secondary">+959253257742</a>
                                </li>
                                <li> <a href="tel:+959253257742" class="text-secondary">+959253257742</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 py-3">
                        <div class="ps-lg-4 pe-lg-4">
                            <div class="bg-white d-inline-block mb-4 p-3 rounded-circle shadow text-primary">
                                <svg viewBox="0 0 24 24" fill="currentColor" height="2rem" width="2rem">
                                    <path
                                        d="M12 20.9l4.95-4.95a7 7 0 1 0-9.9 0L12 20.9zm0 2.828l-6.364-6.364a9 9 0 1 1 12.728 0L12 23.728zM12 13a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0 2a4 4 0 1 1 0-8 4 4 0 0 1 0 8z">
                                    </path>
                                </svg>
                            </div>
                            <h2 class="fw-bold h5 mb-2 text-dark text-uppercase">Address</h2>
                            <div class="text-secondary">No. 169, 9th Floor, MTP Condo, Insein
                                Road, Than Lan Bus Stop, Hlaing Township, Yangon, Myanmar.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 py-3">
                        <div class="ps-lg-4 pe-lg-4">
                            <div class="bg-white d-inline-block mb-4 p-3 rounded-circle shadow text-primary">
                                <svg viewBox="0 0 24 24" fill="currentColor" height="2rem" width="2rem">
                                    <path
                                        d="M3 3h18a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1zm17 4.238l-7.928 7.1L4 7.216V19h16V7.238zM4.511 5l7.55 6.662L19.502 5H4.511z">
                                    </path>
                                </svg>
                            </div>
                            <h2 class="fw-bold h5 mb-2 text-dark text-uppercase">Email</h2>
                            <div class="mb-2"> <a href="mailto:info@company.com"
                                    class="text-secondary">info@aceinspiration.com</a>
                            </div>
                            <div class="d-inline-flex flex-wrap">
                                <a href="https://www.facebook.com/aceinspiration/"
                                    class="text-decoration-none text-white">
                                    <i class="fa-brands fa-square-facebook p-1" style="font-size: 25px;"></i></a>
                                <a href="https://mm.linkedin.com/school/ace-inspiration/"
                                    class="text-decoration-none text-white"><i class="fa-brands fa-linkedin p-1"
                                        style="font-size: 25px;"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="mt-md-1  pb-5 pb-md-0 pt-1 text-white" data-pg-collapsed
        style="background-color: #1a2033;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-xl-7 me-auto pb-0 pt-3">
                    <p class="h6 mb-2" style="font-family: 'Roboto', sans-serif; font-weight: 700;">How To Find Us</p>
                    <div class="mb-1">
                        <p class="mb-2 text-white" style="font-size: 14px; font-weight: 200;"><i
                                class="fa-solid fa-location-dot ps-1 pe-3"></i> No. 169, 9th Floor, MTP Condo, Insein
                            Road, Than Lan Bus Stop, Hlaing Township, Yangon, Myanmar.</p>
                        <p class="mb-2 mt-0 text-white" style="font-size: 14px;"><i
                                class="fa-solid fa-phone pe-3 ps-1 "></i>+959253257742</p> <a href="#"
                            class="pb-0 pt-0 text-decoration-none text-white" style="font-size: 14px;"><i
                                class="fa-solid fa-envelope pe-3 ps-1 "></i>info@aceinspiration.com</a>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 pb-0 pt-3 py-3">
                    <p class="h6 mb-1" style="font-weight: 700;">Get In Touch</p>
                    <div class="d-inline-flex flex-wrap ">
                        <a href="https://www.facebook.com/aceinspiration/" class="text-decoration-none text-white"><i
                                class="fa-brands fa-square-facebook p-1" style="font-size: 25px;"></i></a>
                        <a href="https://mm.linkedin.com/school/ace-inspiration/"
                            class="text-decoration-none text-white"><i class="fa-brands fa-linkedin p-1"
                                style="font-size: 25px;"></i></a>
                    </div>
                    <div class="mt-2">
                        <button type="button" class="btn btn-outline-light mb-1 ms-0"><i
                                class="fa-solid fa-headset me-2"></i>Contact Us</button>
                    </div>
                </div>
            </div>
            <hr class="border-secondary mt-1 mb-1" />
            <div class="align-items-center d-flex justify-content-center pb-5 pb-md-2 pt-2 pt-md-2 text-center">
                <p class="mb-0" style="font-size: 14px;">2022. All Rights Reserved - Ace Inspiration</p>
            </div>
        </div>
    </footer>

    <div th:insert="/student/student-fragments :: footer" />

    <script>

        const app = Vue.createApp({
            data() {
                return {
                    userId: '',
                    batchId: '',
                    newMessagesCount: 0,
                    oldMessagesCount: 0,
                    unreadMessagesCount: 0
                }
            },
            methods: {
                getNewMessagesCount() {
                    axios
                        .get(`http://localhost:8080/api/message/countMessagesByBatchId/${this.batchId}`)
                        .then(res => this.newMessagesCount = res.data)
                        .catch(error => console.log(error));
                },
                getOldMessagesCount() {
                    axios
                        .get(`http://localhost:8080/api/user/getUserReadMessagesCountById/${this.userId}`)
                        .then(res => this.oldMessagesCount = res.data)
                        .catch(error => console.log(error));
                }
            },
            mounted() {
                this.batchId = document.getElementById('batchId').value;
                this.userId = document.getElementById('userId').value;
                setInterval(() => {
                    this.getNewMessagesCount();
                    this.getOldMessagesCount();
                    this.unreadMessagesCount = this.newMessagesCount - this.oldMessagesCount;
                }, 500);
            },
        })
        app.mount('#chat');

    </script>

</body>

</html>