<!DOCTYPE html>
<html>

<head th:insert="/student/student-fragments :: student_head">
    <title>Course Video</title>
</head>

<style>
    [v-cloak] {
        display: none
    }

    .allButFooter {
        min-height: calc(80vh - 90px);
    }
</style>

<body id="page-top" class="bg-opacity-25" style="background-color: #f4f4f4;">

    <div th:insert="/student/student-fragments :: pc-navbar" />

    <div th:insert="/student/student-fragments :: mobile-navbar" />

    <div class="container allButFooter mb-3">
        <h1 class="h2 mb-2 mt-4 text-dark"
            style="font-weight: bold;font-family: 'Roboto', sans-serif;margin-bottom: 3px;">
            [[${courseName}]]
        </h1>
        <div class="mb-1">
            <i class="fa-chalkboard-teacher fas mb-2 mt-2" style="margin-right: 7px; font-size: 19px;"></i>
            <span th:each="teacher, loop : ${teacherList}" class="fw-bold h6 text-primary"
                style="font-family: 'Roboto', sans-serif; margin-right: 5px; position: relative; top: -3px;">
                [[${teacher?.name}]] <span th:if="${loop.index != loop.size-1}">,</span>
            </span>
        </div>

        <div class="gx-3 row">

            <div th:if="${video?.id != null}" class="col-lg-8 pb-2"
                style="margin-bottom: 25px;border-bottom: 1px solid rgb(234,234,234) ;">
                <video width="100%" height="100%" controls controlsList="nodownload">
                    <source th:src="@{${'/courses/' + courseName + '/video/' + video?.name} }" />
                </video>
            </div>

            <div class="col pb-2" style="width: 100%;margin-bottom: 25px;border-bottom: 1px solid rgb(234,234,234) ;">
                <div class="row">
                    <div class="col course-accordion">
                        <div class="list-group">

                            <span th:each="batchHasVideo, iter : ${batchHasVideoList}">

                                <span th:if="${session?.role == 'ROLE_STUDENT'}">
                                    <span th:if="${batchHasVideo?.video?.name == video?.name}">
                                        <a th:href="@{${'/student/showClickedVideo/' + courseName + '/' + batchHasVideo?.video?.id + '/AILP'} }"
                                            class="bg-opacity-25 bg-primary list-group-item list-group-item-action pb-3 pe-1 pt-3">
                                            <div class="col-sm-12 d-flex d-lg-flex justify-content-between w-100">
                                                <div
                                                    class="col-12 col-md-12 col-sm-12 justify-content-between justify-content-lg-between row">
                                                    <div class="col-9 col-lg-8 col-md-10 col-sm-10 col-xl-9 text-break">
                                                        <h5 class="fs-6 lh-base mb-1">
                                                            [[${batchHasVideo?.video?.name.substring(0,
                                                            batchHasVideo.video.name.length - 4)}]]
                                                        </h5>
                                                    </div>
                                                    <div
                                                        class="align-self-stretch col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 flex-column flex-fill pe-0 ps-0 text-end text-sm-end">
                                                        <small class="text-muted text-nowrap">
                                                            [[${batchHasVideo?.video?.length}]]
                                                            <i class="fa fa-play-circle"></i>&nbsp;
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </span>
                                    <span th:if="${batchHasVideo?.video?.name != video?.name}">
                                        <a th:href="@{${'/student/showClickedVideo/' + courseName + '/' + batchHasVideo?.video?.id + '/AILP'} }"
                                            class="list-group-item list-group-item-action pb-3 pe-1 pt-3">
                                            <div class="col-sm-12 d-flex d-lg-flex justify-content-between w-100">
                                                <div
                                                    class="col-12 col-md-12 col-sm-12 justify-content-between justify-content-lg-between row">
                                                    <div class="col-9 col-lg-8 col-md-10 col-sm-10 col-xl-9">
                                                        <h5 class="fs-6 lh-base mb-1">
                                                            [[${batchHasVideo?.video?.name.substring(0,
                                                            batchHasVideo.video.name.length - 4)}]]
                                                        </h5>
                                                    </div>
                                                    <div
                                                        class="align-self-start col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 flex-fill pe-0 ps-0 text-end text-sm-end">
                                                        <small class="text-muted">
                                                            [[${batchHasVideo?.video?.length}]]
                                                            <i class="fa fa-play-circle"></i>&nbsp;
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </span>
                                </span>

                                <span th:if="${session?.role == 'ROLE_TEACHER'}">
                                    <span th:if="${batchHasVideo?.video?.name == video?.name}">
                                        <a th:href="@{${'/student/showClickedVideo/' + courseName + '/' + batchHasVideo?.video?.id + '/' + batchHasVideo?.bhvBatch?.id} }"
                                            class="bg-opacity-25 bg-primary list-group-item list-group-item-action pb-3 pe-1 pt-3">
                                            <div class="col-sm-12 d-flex d-lg-flex justify-content-between w-100">
                                                <div
                                                    class="col-12 col-md-12 col-sm-12 justify-content-between justify-content-lg-between row">
                                                    <div class="col-9 col-lg-8 col-md-10 col-sm-10 col-xl-9">
                                                        <h5 class="fs-6 lh-base mb-1">
                                                            [[${batchHasVideo?.video?.name.substring(0,
                                                            batchHasVideo.video.name.length - 4)}]]
                                                        </h5>
                                                    </div>
                                                    <div
                                                        class="align-self-start col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 flex-fill pe-0 ps-0 text-end text-sm-end">
                                                        <small class="text-muted">
                                                            [[${batchHasVideo?.video?.length}]]
                                                            <i class="fa fa-play-circle"></i>&nbsp;
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </span>
                                    <span th:if="${batchHasVideo?.video?.name != video?.name}">
                                        <a th:href="@{${'/student/showClickedVideo/' + courseName + '/' + batchHasVideo?.video?.id + '/' + batchHasVideo?.bhvBatch?.id} }"
                                            class="list-group-item list-group-item-action pb-3 pe-1 pt-3">
                                            <div class="col-sm-12 d-flex d-lg-flex justify-content-between w-100">
                                                <div
                                                    class="col-12 col-md-12 col-sm-12 justify-content-between justify-content-lg-between row">
                                                    <div class="col-9 col-lg-8 col-md-10 col-sm-10 col-xl-9">
                                                        <h5 class="fs-6 lh-base mb-1">
                                                            [[${batchHasVideo?.video?.name.substring(0,
                                                            batchHasVideo.video.name.length - 4)}]]
                                                        </h5>
                                                    </div>
                                                    <div
                                                        class="align-self-start col-1 col-lg-1 col-md-1 col-sm-1 col-xl-1 flex-fill pe-0 ps-0 text-end text-sm-end">
                                                        <small class="text-muted">
                                                            [[${batchHasVideo?.video?.length}]]
                                                            <i class="fa fa-play-circle"></i>&nbsp;
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </span>
                                </span>

                            </span>

                        </div>
                    </div>
                </div>
            </div>


            <!-- ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
            <div th:if="${video?.id != null}" class="col-lg-12 col-md-12 col-sm-12"
                style="margin-bottom: 76px;height: auto;" id="app">
                <div id="tabs-section" style="height: auto;">
                    <h4 class="fw-bold mb-2 mt-1 text-dark"
                        style="margin-bottom: 20px; font-family: 'Roboto', sans-serif;">Discussion Forums</h4>

                    <input type="hidden" th:value="${batchId}" id="batchId">
                    <input type="hidden" th:value="${session?.uid}" id="userId">
                    <input type="hidden" th:value="${video?.id}" id="videoId">
                    <input type="hidden" th:value="${username}" id="userName">

                    <div v-cloak class="mb-4 mt-4">
                        <form>
                            <div class="d-flex mb-2 mt-3">
                                <img class="img-profile me-3 rounded-circle"
                                    th:src="@{'/profile_pics/' + ${session?.profile_pic} }"
                                    style="width: 40px; height: 40px;" />
                                <textarea @keyup.enter="sendComment()" v-model="commentText" maxlength="900"
                                    @click.prevent="clickInput()"
                                    class="bg-transparent border-0 border-2 border-bottom border-secondary form-control fs-6"
                                    id="formInput4" rows="2" placeholder="Add a comment..."></textarea>
                            </div>
                            <div v-if="isClickInput" class="text-end mb-0">
                                <button @click.prevent="handleCancelInput()" type="button"
                                    class="btn btn-light mb-0">Cancel</button>
                                <button v-if="commentText.trim().length <= 0" @click.prevent="sendComment()"
                                    type="submit" class="btn btn-primary mb-0 disabled">
                                    Comment
                                </button>
                                <button v-else @click.prevent="sendComment()" type="submit"
                                    class="btn btn-primary mb-0">
                                    Comment
                                </button>
                            </div>
                        </form>
                    </div>

                    <div v-cloak class="col course-disscusion-reply">
                        <ul class="list-group">

                            <span v-if="commentList.length > 0">
                                <li v-for="(comment, index) in commentList" :key="comment.id"
                                    class="bg-white list-group-item mb-0 mt-0 pb-2 pt-3" style="margin-bottom:6px;">
                                    <div class="d-flex media" style="overflow:visible;">
                                        <div>
                                            <img class="border me-2 rounded-circle" style="width: 40px; height: 40px;"
                                                :src=`/profile_pics/${comment.commentUser.profile_pic}` />
                                        </div>

                                        <div class="row">

                                            <div class="col-md-12">

                                                <a class="fw-bold me-2 text-dark text-decoration-none" href="#"
                                                    style="font-family: 'Roboto', sans-serif;">
                                                    {{ comment.commentUser.name }}
                                                </a>
                                                <small class="text-muted" style="font-family: 'Roboto', sans-serif;">
                                                    {{ comment.dateTime }}
                                                </small>

                                                <p class="mb-2 text-break"
                                                    style="font-family: 'Roboto', sans-serif; cursor: pointer;">
                                                    {{ comment.commentText }}
                                                    <span v-if="userId == comment.commentUser.id">
                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                            @click="deleteComment(comment.id)" width="16" height="16"
                                                            fill="currentColor" class="bi bi-trash-fill text-danger"
                                                            viewBox="0 0 16 16">
                                                            <path
                                                                d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                                        </svg>
                                                    </span>
                                                </p>

                                                <i @click.prevent="toggleShowReply(index)"
                                                    class="align-items-start d-flex mb-0 pb-0 text-primary"
                                                    :class="[comment.isReplyShow ? 'fa fa-caret-up' : 'fa fa-caret-down']"
                                                    style="font-size: 22px; cursor: pointer;">
                                                    <p
                                                        style="font-family: 'Roboto', sans-serif; font-size: 15px; padding-top: 5px;">
                                                        &nbsp;
                                                        <span v-if="comment.replyList.length == 0">
                                                            Reply
                                                        </span>
                                                        <span v-else>
                                                            {{comment.replyList.length}}
                                                            {{ comment.replyList.length == 1 ? 'Reply' : 'Replies'}}
                                                        </span>
                                                    </p>
                                                </i>

                                            </div>

                                            <span v-if="comment.isReplyShow">

                                                <div class="mb-1 mt-0">
                                                    <div class="d-flex mb-1 mt-0">
                                                        <img class="img-profile me-2 rounded-circle"
                                                            th:src="@{'/profile_pics/' + ${session?.profile_pic} }"
                                                            style="width: 30px; height: 30px;" />
                                                        <textarea v-model="comment.replyText" maxlength="900"
                                                            @keyup.enter="sendReply(comment.id, index)"
                                                            class="bg-transparent border-0 border-2 border-bottom border-secondary form-control fs-6"
                                                            id="formInput4" rows="1" cols="58"
                                                            placeholder="Add a comment..."></textarea>
                                                    </div>
                                                    <div class="mb-0 text-end">
                                                        <button type="button" @click.prevent="handleCancel(index)"
                                                            class="btn btn-light btn-sm mb-0">Cancel</button>
                                                        <button v-if="comment.replyText.trim().length <= 0"
                                                            @click.prevent="sendReply(comment.id, index)" type="submit"
                                                            class="btn btn-primary btn-sm mb-0 disabled">
                                                            Reply
                                                        </button>
                                                        <button v-else @click.prevent="sendReply(comment.id, index)"
                                                            type="submit" class="btn btn-primary btn-sm mb-0">
                                                            Reply
                                                        </button>

                                                    </div>
                                                    <div v-for="reply in comment.replyList" :key="reply.id"
                                                        class="bg-transparent d-flex media pb-1 pt-1"
                                                        style="background: #f2f2f2;">
                                                        <div class="d-flex media" style="overflow:visible;">
                                                            <div>
                                                                <img class="border me-2 rounded-circle"
                                                                    style="width: 40px; height: 40px;"
                                                                    :src=`/profile_pics/${reply.replyUser.profile_pic}` />
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <a class="fw-bold me-2 text-dark text-decoration-none"
                                                                        href="#"
                                                                        style="font-family: 'Roboto', sans-serif;">
                                                                        {{ reply.replyUser.name}}
                                                                    </a>
                                                                    <small class="text-muted"
                                                                        style="font-family: 'Roboto', sans-serif;">
                                                                        {{ reply.dateTime }}
                                                                    </small>
                                                                    <p class="mb-2 text-break"
                                                                        style="font-family: 'Roboto', sans-serif; cursor: pointer;">
                                                                        {{ reply.replyText }}
                                                                        <span v-if="userId == reply.replyUser.id">
                                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                                @click="deleteReply(reply.id, index)"
                                                                                width="16" height="16"
                                                                                fill="currentColor"
                                                                                class="bi bi-trash-fill text-danger"
                                                                                viewBox="0 0 16 16">
                                                                                <path
                                                                                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                                                            </svg>
                                                                        </span>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </span>

                                        </div>

                                    </div>
                                </li>
                            </span>

                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <footer class="mt-md-1  pb-5 pb-md-0 pt-1 text-white" data-pg-collapsed
        style="background-color: #1a2033; font-family: 'Roboto', sans-serif;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-xl-7 me-auto pb-0 pt-3">
                    <p class="h6 mb-2" style="font-family: 'Roboto', sans-serif; font-weight: 700;">How To Find Us</p>
                    <div class="mb-1">
                        <p class="mb-2 text-white" style="font-size: 14px; font-weight: 200;"><i
                                class="fa-solid fa-location-dot ps-1 pe-3"></i> No. 169, 9th Floor, MTP Condo, Insein
                            Road, Than Lan Bus Stop, Hlaing Township, Yangon, Myanmar.</p>
                        <p class="mb-2 mt-0 text-white" style="font-size: 14px;"><i
                                class="fa-solid fa-phone pe-3 ps-1 "></i>+959253257742</p> <a href="#"
                            class="pb-0 pt-0 text-decoration-none text-white" style="font-size: 14px;"><i
                                class="fa-solid fa-envelope pe-3 ps-1 "></i>info@aceinspiration.com</a>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 pb-0 pt-3 py-3">
                    <p class="h6 mb-1" style="font-family: 'Roboto', sans-serif; font-weight: 700;">Get In Touch</p>
                    <div class="d-inline-flex flex-wrap ">
                        <a href="https://www.facebook.com/aceinspiration/" class="text-decoration-none text-white"><i
                                class="fa-brands fa-square-facebook p-1" style="font-size: 25px;"></i></a>
                        <a href="https://mm.linkedin.com/school/ace-inspiration/"
                            class="text-decoration-none text-white"><i class="fa-brands fa-linkedin p-1"
                                style="font-size: 25px;"></i></a>
                    </div>
                    <div class="mt-2">
                        <button type="button" class="btn btn-outline-light mb-1 ms-0"><i
                                class="fa-solid fa-headset me-2"></i>Contact Us</button>
                    </div>
                </div>
            </div>
            <hr class="border-secondary mt-1 mb-1" />
            <div class="align-items-center d-flex justify-content-center pb-5 pb-md-2 pt-2 pt-md-2 text-center">
                <p class="mb-0" style="font-size: 14px;">2022. All Rights Reserved - Ace Inspiration</p>
            </div>
        </div>
    </footer>

    <div class="hide-on-desktop">
        <a class="border rounded d-inline scroll-to-top" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>

    <div th:insert="/student/student-fragments :: footer" />
    <script src="/assets/js/studentVideo.js"></script>

</body>

</html>