<!DOCTYPE html>
<html>

<head th:insert="/student/student-fragments :: student_head">
    <title>Student Home</title>
</head>

<body id="page-top" style="background: rgb(255,255,255);">
    <div th:insert="/student/student-fragments :: pc-navbar" />
    <div th:insert="/student/student-fragments :: mobile-navbar" />


    <div class="container" style="margin-top: 22px;padding-right: 10px;padding-left: 10px;">

        <h2 class="m-3">Assignemnts</h2>
        <div class="card shadow" style="margin-bottom: 85px;">
            <div class="card-body" style="padding: 10px;">
                <table id="dataTable">
                    <thead>
                        <tr>
                            <th>Assignment Name</th>
                            <th>Resources</th>
                            <th>Due Date</th>
                            <th>To Upload</th>
                            <th>Action</th>
                        </tr>
                    <tbody>

                        <tr th:each="assignment : ${assignmentList}">
                            <form th:action="@{/student/submitAssignment}" th:object="${answer}" method="post"
                                enctype="multipart/form-data">
                                <input type="hidden" th:value="${successMsg}" id="successMsg">
                                <td>[[${assignment?.name}]]</td>
                                <td>
                                    <a th:href="@{ ${'/courses/' + assignment?.assignmentBatch?.batchCourse?.name + '/' + assignment?.assignmentBatch?.id + '/'  +  'AssignmentQuestion' + '/' + assignment?.questionFileName} }"
                                        target="_blank" class="btn btn-info">
                                        [[${assignment?.questionFileName}]]
                                    </a>
                                </td>
                                <td>[[${assignment?.dueDate}]]</td>
                                <td>
                                    <input type="hidden" th:value="${session?.uid}" th:name="answerStudent"
                                        th:id="answerStudent">
                                    <input type="hidden" th:value="${assignment.id}" th:name="assignment"
                                        th:id="assignment">
                                    <input type="file" th:field="*{answerFile}" accept=".zip" required />
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </td>
                          
                            </form>
                        </tr>

                    </tbody>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <div class="hide-on-desktop">
        <a class="border rounded d-inline scroll-to-top" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>


    <div th:insert="/student/student-fragments :: footer" />
    <!-- datatable-js -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
    <script src="/assets/js/alert.js"></script>
</body>

</html>