<!DOCTYPE html>
<html>

<link rel="stylesheet" href="/assets/css/student-public-chat.css">

<head th:insert="/student/student-fragments :: student_head">
    <title>Public Chat</title>
</head>

<body style="background-color: #f4f4f4;" class="">

    <div th:insert="/student/student-fragments :: pc-navbar" />

    <div th:insert="/student/student-fragments :: mobile-navbar" />

    <div id="app" style="width: 90%;" class="container-fluid h-100 mb-5 mb-md-0 pe-1 ps-1">

        <input id="userName" type="hidden" th:value="${username}">
        <input id="batchId" type="hidden" th:value="${batchId}">
        <input id="userId" type="hidden" th:value="${userId}">

        <div class="d-flex justify-content-center row">
            <div class="col-12 col-lg-8 col-md-12 col-sm-12 col-xl-8">
                <div class="chat d-flex justify-content-center">
                    <div class="card shadow">
                        <div class="border-2 border-top chat-header clearfix pb-3 pt-3 rounded-top"
                            style="background-color: #32499a;">
                            <div class="g-0 row">
                                <div class="chat-about mb-0 pb-0">
                                    <div class="row">
                                        <div
                                            class="col-2 col-lg-1 col-md-1 col-sm-1 d-inline-flex flex-row g-0 me-0 ms-0 pe-0 ps-0 w-auto">
                                            <i class="fa fa-users me-2 text-light" style="font-size: 25px;"></i>
                                        </div>
                                        <div class="col-9 col-lg-10 col-md-4 col-sm-11 g-0">
                                            <h6 class="fs-5 fw-normal m-b-0 mb-0 text-light"
                                                style="font-family: 'Roboto', sans-serif;">
                                                [[${batchName}]]
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="messages" class="chat-history mb-0 mt-0 pb-0 pt-0"
                            style="overflow: auto; height: 500px;">
                            <!-- <p class="mb-4 mt-4 text-center" style="font-size: 13px;">Today 10:45AM</p> -->
                            <ul class="m-b-0">
                                <span v-for="(message, index) in messageList" :key="index">
                                    <span v-if="userName == message.messageUser.name">
                                        <li
                                            class="align-items-start clearfix d-flex flex-column flex-nowrap g-0 mb-3 text-start">
                                            <div class="d-flex justify-content-end mw-100 row w-100"
                                                style="max-width: 508px;">
                                                <div
                                                    class="col-8 col-lg-9 col-md-10 col-sm-10 d-flex justify-content-end pe-0 ps-0">
                                                    <div class="bg-primary message my-message  pb-2 pe-3 ps-3 pt-2 text-break text-light"
                                                        style="font-size: 15px; background-color: #efefef;">
                                                        {{message.message}}
                                                    </div>
                                                </div>
                                                <div
                                                    class="col-8 col-lg-9 col-md-10 col-sm-10 d-flex justify-content-end pe-0 ps-0">
                                                    <div class="bg-white mb-2 message my-message pb-0 pe-1 ps-0 pt-0 text-break text-muted"
                                                        style="font-size: 13px;">
                                                        {{message.dateTime}}
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </span>
                                    <span v-else>
                                        <li
                                            class="align-items-start clearfix d-flex flex-column flex-nowrap g-0 mb-3 text-start">
                                            <div class="d-flex mw-100 row w-100" style="max-width: 508px;">
                                                <div class="col-1 col-lg-2 col-md-4 col-sm-1 pe-0 w-auto">
                                                    <h6 class="fw-bold mb-auto">{{message.messageUser.name}}</h6>
                                                </div>
                                            </div>
                                            <div class="d-flex mw-100 row w-100" style="max-width: 508px;">
                                                <div class="col-1 col-lg-2 col-md-4 col-sm-1 pe-0 w-auto">
                                                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                                                        alt="avatar" class="me-2 rounded-3"
                                                        style="width: 40px; height: 40px;" />
                                                </div>
                                                <div
                                                    class="align-items-start col-8 col-lg-9 col-md-10 col-sm-10 d-flex flex-column pe-0 ps-0">
                                                    <div class="mb-0 message my-message pb-2 pe-3 ps-3 pt-2 text-break text-dark"
                                                        style="font-size: 15px; background-color: #cdcdcd;">
                                                        {{message.message}}
                                                    </div>
                                                </div>
                                                <div
                                                    class="align-items-start col-8 col-lg-9 col-md-10 col-sm-10 d-flex flex-column pe-0 ps-0">
                                                    <div class="bg-white message ms-5 my-message pb-0 pe-0 ps-3 pt-0 text-break text-muted"
                                                        style="font-size: 13px;">
                                                        {{message.dateTime}}
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </span>
                                </span>
                            </ul>
                        </div>

                        <div class="bg-light border-2 chat-message clearfix pb-0 pt-2 rounded-bottom">
                            <div class="input-group mb-0 pb-0 pt-2" style="height: 80px;">
                                <div class="input-group-prepend">
                                </div>
                                <input v-model="message" type="text" class="form-control" style="height: 59px;">
                                <button @click="handleSend()" class="btn text-light"
                                    style="border-top-right-radius: 5px; border-bottom-right-radius: 5px; line-height: 30px; height: 59px; width: 48px; background-color: #32499a;">
                                    <i class="fa fa-send"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:insert="/student/student-fragments :: footer" />

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    isEmpty: null,
                    messageListLength: '',
                    batchId: '',
                    userId: '',
                    userName: '',
                    message: '',
                    messageList: []
                }
            },
            methods: {
                isToday(date) {
                    let today = new Date();
                    if (today.toLocaleDateString() == date.substring(0, 9)) {
                        return true;
                    }
                    return false;
                },
                isYesterday(date) {
                    let today = new Date();
                    let yesterday = new Date();
                    yesterday.setDate(today.getDate() - 1);
                    if (yesterday.toLocaleDateString() == date.substring(0, 9)) {
                        return true;
                    }
                    return false;
                },
                handleSend() {
                    this.isEmpty = false;
                    if (this.message.replace(/\s/g, "").length == 0) {
                        this.isEmpty = true;
                    }
                    if (!this.isEmpty) {
                        let data = {
                            message: this.message,
                            userId: this.userId,
                            batchId: this.batchId,
                            dateTime: new Date().toLocaleString()
                        }

                        this.message = "";

                        axios
                            .post('http://localhost:8080/api/message/addMessage/', data)
                            .then(() => {
                                console.log("success");
                                this.getAllMessages();
                            })
                            .catch(error => console.log(error));
                    }
                },
                getAllMessages() {
                    axios.
                        get(`http://localhost:8080/api/message/getMessagesByBatchId/${this.batchId}`)
                        .then(res => {
                            this.messageList = [...res.data];
                            this.messageList = this.messageList.map(msg => {
                                let resDateTime = msg.dateTime;
                                if (this.isToday(resDateTime)) {
                                    if(resDateTime.length == 21) {
                                        var dateTime = "Today at " + resDateTime.substring(11, 15) + " " + resDateTime.slice(-2);
                                    } else {
                                        var dateTime = "Today at " + resDateTime.substring(11, 16) + " " + resDateTime.slice(-2);
                                    }
                                } else if (this.isYesterday(resDateTime)) {
                                    if(resDateTime.length == 21) {
                                        var dateTime = "Yesterday at " + resDateTime.substring(11, 15) + " " + resDateTime.slice(-2);
                                    } else {
                                        var dateTime = "Yesterday at " + resDateTime.substring(11, 16) + " " + resDateTime.slice(-2);
                                    }
                                } else {
                                    var dateTime = resDateTime.substring(0, 9);
                                }
                                return { ...msg, dateTime: dateTime };
                            });
                            let messageLength = this.messageList.length
                            if (this.messageListLength < messageLength) {
                                setTimeout(() => {
                                    let objDiv = document.getElementById("messages");
                                    objDiv.scrollTop = objDiv.scrollHeight;
                                }, 0);
                            }
                            this.messageListLength = messageLength;
                        })
                        .catch(error => console.log(error));
                }
            },
            mounted() {
                this.batchId = document.getElementById('batchId').value;
                this.userId = document.getElementById('userId').value;
                this.userName = document.getElementById('userName').value;
                setInterval(() => {
                    this.getAllMessages();
                }, 1000);
            }
        })
        app.mount('#app');
    </script>

</body>

</html>