<!DOCTYPE html>
<html>

<head th:insert="/student/student-fragments :: student_head">

    <title>Student Home</title>
</head>

<style>
    [v-cloak] {
        display: none
    }

    .allButFooter {
    min-height: calc(80vh - 90px);
}
</style>

<body id="page-top" style="background-color: #E4E6E9 ">

    <div th:insert="/student/student-fragments :: pc-navbar" />
    <div th:insert="/student/student-fragments :: mobile-navbar" />

    <div class="container allButFooter" style="margin-bottom: 50px;">
        <h2 class="mt-4 fw-bold" style="font-family: 'Roboto'; color: rgb(61, 61, 61);">Let's Start Learning,
            [[${session.name}]]</h2>
        <div class="d-flex flex-wrap g-3 row justify-content-center mt-0" style="margin-top: 20px;">

            <!-- card start -->
            <div class="col-lg-4 col-md-6 col-sm-6" data-bss-hover-animate="pulse">
                <a class="text-decoration-none text-dark" th:href="@{/student/getVideos/AILP}">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="row mb-1">
                                <div
                                    class="col text-truncate d-flex d-lg-flex flex-column justify-content-lg-start align-items-lg-start">
                                    <h4 class="fw-bold"
                                        style="font-family: Arimo, sans-serif;font-size: 23.6px;color: #0027b3;">
                                        Course Videos
                                    </h4>
                                </div>
                                <div
                                    class="col-2 col-sm-3 col-md-2 col-lg-2 col-xl-2 col-xxl-2 text-nowrap text-end d-flex justify-content-center align-items-center">
                                    <i class="fa-solid fa-video" style="font-size: 25px;color: #0027b3;"></i>
                                </div>
                            </div>
                            <p class="text-secondary card-text">
                                Learn new things by watching video lectures
                                and doing homework.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- card end -->

            <!-- card start -->
            <div class="col-lg-4 col-md-6 col-sm-6" id="resource" data-bss-hover-animate="pulse">
                <a class="text-decoration-none text-dark" th:href="@{/student/getResources}">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="row mb-1">
                                <div
                                    class="col d-flex d-lg-flex flex-column justify-content-lg-start align-items-lg-start">
                                    <h4 class="fw-bold"
                                        style="font-family: Arimo, sans-serif;font-size: 23.6px;color: #b50000;">
                                        Resources
                                    </h4>
                                </div>
                                <div
                                    class="col-2 col-sm-3 col-md-2 col-lg-2 col-xl-2 col-xxl-2 text-nowrap text-end d-flex justify-content-center align-items-center">
                                    <i class="fa-solid fa-file-zipper" style="font-size: 25px;color: #b50000;"></i>
                                </div>
                            </div>
                            <p class="text-secondary card-text">
                                Get the files from the online video lessons
                                and do the exercises.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- card end -->

            <!-- card start -->
            <div class="col-lg-4 col-md-6 col-sm-6" data-bss-hover-animate="pulse">
                <a class="text-decoration-none text-dark" th:href="@{/student/studentAssignment}">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="row mb-1">
                                <div
                                    class="col d-flex d-lg-flex flex-column justify-content-lg-start align-items-lg-start">
                                    <h4 class="fw-bold"
                                        style="font-family: Arimo, sans-serif;font-size: 23.6px;color: #00842d;">
                                        Assignment
                                    </h4>
                                </div>
                                <div
                                    class="col-2 col-sm-3 col-md-2 col-lg-2 col-xl-2 col-xxl-2 text-nowrap text-end d-flex justify-content-center align-items-center">
                                    <i class="fa-solid fa-file-signature" style="font-size: 25px;color: #00842d;"></i>

                                </div>
                            </div>
                            <p class="text-secondary card-text">
                                Doing assignment on a regular basis will
                                help you improve your skills.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- card end -->

            <!-- card start -->
            <div class="col-lg-4 col-md-6 col-sm-6" id="chat" data-bss-hover-animate="pulse">
                <input id="batchId" type="hidden" th:value="${batchId}">
                <input id="userId" type="hidden" th:value="${userId}">
                <a class="text-decoration-none text-dark" th:href="@{/student/student-public-chat}">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="row mb-1">
                                <div
                                    class="col d-flex d-lg-flex flex-column justify-content-lg-start align-items-lg-start">
                                    <h4 class="fw-bold"
                                        style="font-family: Arimo, sans-serif;font-size: 23.6px;color: #00518c;">
                                        Group Chat
                                    </h4>
                                </div>
                                <div
                                    class="col-2 col-sm-3 col-md-2 col-lg-2 col-xl-2 col-xxl-2 text-nowrap text-end d-flex justify-content-center align-items-center">
                                    <i class="fa-solid fa-comments" style="font-size: 25px;color: #00518c;"></i>
                                    <span v-cloak v-if="unreadMessagesCount != 0" class="badge bg-danger rounded-pill"
                                        style="top: 11px; position: absolute; right: 11px; font-size: 10px;">
                                        <span v-if="unreadMessagesCount <= 99">
                                            {{ unreadMessagesCount }}
                                        </span>
                                        <span v-else> 99+ </span>
                                    </span>
                                </div>
                            </div>
                            <p class="text-secondary card-text">
                                Talk to your classmates about the concepts
                                you don't understand.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- card end -->

            <!-- card start -->
            <div class="col-lg-4 col-md-6 col-sm-6" data-bss-hover-animate="pulse">
                <a class="text-decoration-none text-dark" th:href="@{/student/getExamList}">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="row mb-1">
                                <div
                                    class="col d-flex d-lg-flex flex-column justify-content-lg-start align-items-lg-start">
                                    <h4 class="fw-bold"
                                        style="font-family: Arimo, sans-serif;font-size: 23.6px;color: #7400ab;">
                                        Exam
                                    </h4>
                                </div>
                                <div
                                    class="col-2 col-sm-3 col-md-2 col-lg-2 col-xl-2 col-xxl-2 text-nowrap text-end d-flex justify-content-center align-items-center">
                                    <i class="fa-solid fa-list-ul" style="font-size: 22px;color: #7400ab;"></i>
                                </div>
                            </div>
                            <p class="text-secondary card-text">
                                Take the test to see how good you are and
                                how much you know.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- card end -->

            <!-- card start -->
            <div class="col-lg-4 col-md-6 col-sm-6" data-bss-hover-animate="pulse">
                <a class="text-decoration-none text-dark" th:href="@{/student/studentGradeBook}">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="row mb-1">
                                <div
                                    class="col d-flex d-lg-flex flex-column justify-content-lg-start align-items-lg-start">
                                    <h4 class="fw-bold"
                                        style="font-family: Arimo, sans-serif;font-size: 23.6px;color: #762727;">
                                        Score
                                    </h4>
                                </div>
                                <div
                                    class="col-2 col-sm-3 col-md-2 col-lg-2 col-xl-2 col-xxl-2 text-nowrap text-end d-flex justify-content-center align-items-center">
                                    <i class="fa-solid fa-clipboard-list" style="font-size: 25px;color: #762727;"></i>
                                </div>
                            </div>
                            <p class="text-secondary card-text">
                                Examine the outcome of the finished
                                assignments and exams.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- card end -->

            <!-- card start -->
            <div class="col-lg-4 col-md-6 col-sm-6" data-bss-hover-animate="pulse">
                <a class="text-decoration-none text-dark">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="row mb-1">
                                <div
                                    class="col d-flex d-lg-flex flex-column justify-content-lg-start align-items-lg-start">
                                    <h4 class="fw-bold"
                                        style="font-family: Arimo, sans-serif;font-size: 23.6px;color: #035A53;">
                                        Classmates
                                    </h4>
                                </div>
                                <div
                                    class="col-2 col-sm-3 col-md-2 col-lg-2 col-xl-2 col-xxl-2 text-nowrap text-end d-flex justify-content-center align-items-center">
                                    <i class="fa-solid fa-users-line" style="font-size: 25px;color: #035A53;"></i>
                                </div>
                            </div>
                            <p class="text-secondary card-text">
                                A listing of the other students currently enrolled in the batch.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- card end -->

            <!-- card start -->
            <div class="col-lg-4 col-md-6 col-sm-6" data-bss-hover-animate="pulse">
                <a class="text-decoration-none text-dark" th:href="@{/student/contactUs}">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="row mb-1">
                                <div
                                    class="col d-flex d-lg-flex flex-column justify-content-lg-start align-items-lg-start">
                                    <h4 class="fw-bold"
                                        style="font-family: Arimo, sans-serif;font-size: 23.6px;color: #FF5F5F">
                                        Contact Us
                                    </h4>
                                </div>
                                <div
                                    class="col-2 col-sm-3 col-md-2 col-lg-2 col-xl-2 col-xxl-2 text-nowrap text-end d-flex justify-content-center align-items-center">
                                    <i class="fa-solid fa-headset" style="font-size: 25px;color: #FF5F5F"></i>
                                </div>
                            </div>
                            <p class="text-secondary card-text">
                                A listing of the other students currently enrolled in the batch.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <!-- card end -->

        </div>
    </div>
    <footer class="mt-md-1  pb-5 pb-md-0 pt-1 text-white" data-pg-collapsed
        style="background-color: #1a2033; font-family: 'Roboto', sans-serif;">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-xl-7 me-auto pb-0 pt-3">
                    <p class="h6 mb-2" style="font-family: 'Roboto', sans-serif; font-weight: 700;">How To Find Us</p>
                    <div class="mb-1">
                        <p class="mb-2 text-white" style="font-size: 14px; font-weight: 200;"><i
                                class="fa-solid fa-location-dot ps-1 pe-3"></i> No. 169, 9th Floor, MTP Condo, Insein
                            Road, Than Lan Bus Stop, Hlaing Township, Yangon, Myanmar.</p>
                        <p class="mb-2 mt-0 text-white" style="font-size: 14px;"><i
                                class="fa-solid fa-phone pe-3 ps-1 "></i>+959253257742</p> <a href="#"
                            class="pb-0 pt-0 text-decoration-none text-white" style="font-size: 14px;"><i
                                class="fa-solid fa-envelope pe-3 ps-1 "></i>info@aceinspiration.com</a>
                    </div>
                </div>
                <div class="col-lg-4 col-xl-3 pb-0 pt-3 py-3">
                    <p class="h6 mb-1" style="font-family: 'Roboto', sans-serif; font-weight: 700;">Get In Touch</p>
                    <div class="d-inline-flex flex-wrap ">
                        <a href="https://www.facebook.com/aceinspiration/" class="text-decoration-none text-white"><i
                                class="fa-brands fa-square-facebook p-1" style="font-size: 25px;"></i></a>
                        <a href="https://mm.linkedin.com/school/ace-inspiration/"
                            class="text-decoration-none text-white"><i class="fa-brands fa-linkedin p-1"
                                style="font-size: 25px;"></i></a>
                    </div>
                    <div class="mt-2">
                        <button type="button" class="btn btn-outline-light mb-1 ms-0"><i
                                class="fa-solid fa-headset me-2"></i>Contact Us</button>
                    </div>
                </div>
            </div>
            <hr class="border-secondary mt-1 mb-1" />
            <div class="align-items-center d-flex justify-content-center pb-5 pb-md-2 pt-2 pt-md-2 text-center">
                <p class="mb-0" style="font-size: 14px;">2022. All Rights Reserved - Ace Inspiration</p>
            </div>
        </div>
    </footer>

    <div th:insert="/student/student-fragments :: footer" />

    <script>

        const app = Vue.createApp({
            data() {
                return {
                    userId: '',
                    batchId: '',
                    newMessagesCount: 0,
                    oldMessagesCount: 0,
                    unreadMessagesCount: 0
                }
            },
            methods: {
                getNewMessagesCount() {
                    axios
                        .get(`http://localhost:8080/api/message/countMessagesByBatchId/${this.batchId}`)
                        .then(res => this.newMessagesCount = res.data)
                        .catch(error => console.log(error));
                },
                getOldMessagesCount() {
                    axios
                        .get(`http://localhost:8080/api/user/getUserReadMessagesCountById/${this.userId}`)
                        .then(res => this.oldMessagesCount = res.data)
                        .catch(error => console.log(error));
                }
            },
            mounted() {
                this.batchId = document.getElementById('batchId').value;
                this.userId = document.getElementById('userId').value;
                setInterval(() => {
                    this.getNewMessagesCount();
                    this.getOldMessagesCount();
                    this.unreadMessagesCount = this.newMessagesCount - this.oldMessagesCount;
                }, 500);
            },
        })
        app.mount('#chat');

    </script>

</body>

</html>