<!DOCTYPE html>
<html>

<head th:insert="/student/student-fragments :: student_head">
    <title>Exam</title>
</head>

<style>
    [v-cloak] {
        display: none
    }
</style>

<body id="page-top" style="background-color: #E4E6E9 ">

    <div th:insert="/student/student-fragments :: pc-navbar" />

    <div th:insert="/student/student-fragments :: mobile-navbar" />

    <div v-cloak class="container mt-3" style="margin-bottom: 86px;" id="app">
        <input id="studentId" type="hidden" th:value="${studentId}">
        <input id="bheId" type="hidden" th:value="${bheId}">
        <input id="examId" type="hidden" th:value="${examId}">

        <span v-if="isLoaded">
            <span v-if="!isStarted">
                <section class="text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 ms-auto me-auto">
                                <h3 class="fw-semibold h2 mb-4" style="font-family: 'Roboto', sans-serif;"></h3>
                                <img src="/assets/img/ExamWillStartAt-Photo.png" style="width: 80%;" class="mb-3" />
                                <p class="fw-bold h2 mb-4 text-dark"
                                    style="font-family: 'IBM Plex Sans KR', sans-serif;">Exam will start at</p>
                                <div class="d-flex justify-content-evenly fw-bolder mb-3 pb-2"><span d-flex="" flex-column="">
                                        <h2 style="text-align: center; font-size: 27px;">{{ startDays }}</h2>
                                        <p style="font-size: 13px;">DAYS</p>
                                    </span>
                                    <h2 style="font-size: 37px; font-weight: 200; line-height: 64px;">:</h2><span
                                        d-flex="" flex-column="">
                                        <h2 style="text-align: center; font-size: 27px;">{{ startHours }}</h2>
                                        <p style="font-size: 13px;">HOURS</p>
                                    </span>
                                    <h2 style="font-size: 37px; font-weight: 200; line-height: 64px;">:</h2><span
                                        d-flex="" flex-column="">
                                        <h2 style="text-align: center; font-size: 27px;">{{ startMinutes }}</h2>
                                        <p style="font-size: 13px;">MINUTES</p>
                                    </span>
                                    <h2 style="font-size: 37px; font-weight: 200; line-height: 64px;">:</h2><span
                                        d-flex="" flex-column="">
                                        <h2 style="text-align: center; font-size: 27px;">{{ startSeconds }}</h2>
                                        <p style="font-size: 13px;">SECONDS</p>
                                    </span>
                                </div>
                                <span th:if="${session?.role == 'ROLE_STUDENT'}">
                                    <a th:href="@{/student/student-home}" class="btn btn-lg pe-5 ps-5 btn-primary rounded-pill">Go Home</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </section>
            </span>
            <span v-else>
                <span v-if="isSubmitted">
                    <section class="text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 me-auto ms-auto">
                                    <h3 class="fw-semibold h2 mb-4" style="font-family: Roboto, sans-serif;"></h3>
                                    <p class="fw-semibold h2 mb-3 text-dark" style="font-family: IBM Plex Sans KR, sans-serif;">Your exam form was turned in.</p>
                                    <h1 style="text-align: center; font-size: 25px; font-family: 'ABeeZee', sans-serif; font-weight: 700; background-color: rgba(0, 185, 43, 0.164); color: #00661e;" class="bg-opacity-50 border mb-3 me-4 ms-4 pb-3 pt-3 rounded"><span class="fw-normal">RESULT:  </span>{{ studentScore }}/{{ exam.fullMark }}<span style="font-size: 21px; font-weight: normal;">&nbsp;Marks</span></h1>

                                    <!-- If exam mark was between 0 to 30 -->
                                    <!-- <h1 style="text-align: center; font-size: 25px; font-family: 'ABeeZee', sans-serif; font-weight: 700; background-color: rgba(185, 0, 0, 0.15); color: #660000;" class="bg-opacity-50 border mb-3 me-4 ms-4 pb-3 pt-3 rounded"><span class="fw-normal">RESULT:  </span>{{ studentScore }}/{{ exam.fullMark }}<span style="font-size: 21px; font-weight: normal;">&nbsp;Marks</span></h1> -->

                                    <!-- If exam mark was between 31 to 70 -->
                                    <!-- <h1 style="text-align: center; font-size: 25px; font-family: 'ABeeZee', sans-serif; font-weight: 700; background-color: rgba(185, 94, 0, 0.15); color: #843c00;" class="bg-opacity-50 border mb-3 me-4 ms-4 pb-3 pt-3 rounded"><span class="fw-normal">RESULT:  </span>{{ studentScore }}/{{ exam.fullMark }}<span style="font-size: 21px; font-weight: normal;">&nbsp;Marks</span></h1> -->

                                    <img src="/assets/img/Student1stMark-Photo.png" class="mb-3" style="width: 70%;"/>
                                    <span><a href="http://localhost:8080/student/student-home" class="btn btn-lg pe-5 ps-5 btn-primary rounded-pill">Go Home</a></span>
                                </div>
                            </div>
                        </div>
                    </section>
                </span>


                <span v-else-if="!isExamEnd">
                    <div class="card-body shadow-sm mb-4 mt-4" :class="[ isNearEnd ? 'text-danger' : 'text-light' ]"
                        style="background-image: linear-gradient(181deg, rgb(68, 94, 180) 1%, rgb(49, 72, 152) 99%); border-radius: 25px; padding: 15px 30px 3px; margin-top: -25px;">
                        <div class="d-flex justify-content-evenly">
                            <span d-flex flex-column>
                                <h2 style="text-align: center; font-size: 27px;">{{ displayDays }}</h2>
                                <p style="font-size: 13px;">DAYS</p>
                            </span>

                            <h2 style="font-size: 37px; font-weight: 200; line-height: 64px;">:</h2>

                            <span d-flex flex-column>
                                <h2 style="text-align: center; font-size: 27px;">{{ displayHours }}</h2>
                                <p style="font-size: 13px;">HOURS</p>
                            </span>

                            <h2 style="font-size: 37px; font-weight: 200; line-height: 64px;">:</h2>

                            <span d-flex flex-column>
                                <h2 style="text-align: center; font-size: 27px;">{{ displayMinutes }}</h2>
                                <p style="font-size: 13px;">MINUTES</p>
                            </span>

                            <h2 style="font-size: 37px; font-weight: 200; line-height: 64px;">:</h2>

                            <span d-flex flex-column>
                                <h2 style="text-align: center; font-size: 27px;">{{ displaySeconds }}</h2>
                                <p style="font-size: 13px;">SECONDS</p>
                            </span>
                        </div>
                    </div>
                    <div class="border border-bottom-0 border-secondary card shadow-sm">
                        <div class="card-body p-0">
                            <span v-for="(question, index) in exam.questionList" :key="question.id">
                                <div class="border-bottom border-secondary">
                                    <!-- Question Header/ Question -->
                                    <h2 class="accordion-header align-items-baseline d-flex flex-row h5 px-4 py-3"
                                    >
                                    <div class="w-100">
                                        <h4 style="font-family: 'Roboto', sans-serif; font-size: 18px; color: #535353;"
                                            class="mb-0">{{ question.examQuestion }}</h4>
                                    </div> <span>
                                        <p class="mb-0"
                                            style="font-size: 14px; font-weight: bold; color: #03205f; font-family: 'Roboto', sans-serif;">
                                            10Marks</p>
                                    </span>
                                </h2>
                                <!-- Question's Radio Buttons -->
                                    <div class="accordion-body pt-1"
                                        style="font-family: 'Roboto', sans-serif; color: #5e5e5e;">
                                        <div class="d-flex flex-column gap-3">
                                            <span v-for="radio in question.radioList">
                                                <input class="ms-2 me-2" type="radio" v-model="studentAnswerList[index]"
                                                    :value="radio.radioValue">{{ radio.radioValue }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                

                                
                            </span>
                        </div>
                    </div>
                        <!-- Each accordion starts from this -->
                        

                    <span>
                        <button v-if="studentAnswerList.length > 0" @click="handleSubmit()" class="btn btn-lg btn-primary mt-3 w-100 shadow-sm bg-gradient" style="margin: 0px;"> 
                            Submit
                        </button>
                        <button v-if="studentAnswerList.length == 0" @click="handleSubmit()" class="btn btn-lg btn-primary mt-3 w-100 disabled shadow-sm bg-gradient" style="margin: 0px;"> 
                            Submit
                        </button>
                    </span>

                </span>
                <span v-else>
                    <h2>Exam has ended</h2>
                </span>
            </span>
        </span>

    </div>

    <div th:insert="/student/student-fragments :: footer" />
    <script src="/assets/js/exam.js"></script>
</body>

</html>