<!DOCTYPE html>
<html>

<head th:insert="/admin/admin-fragments :: admin_head">
    <title>Batch Table</title>
</head>

<body id="page-top">
    <div id="wrapper">

        <!-- this is where side bar is -->
        <div th:insert="/admin/admin-fragments :: sidebar" />

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <!-- this is where nav bar is -->
                <div th:insert="/admin/admin-fragments :: navbar" />

                <div class="container-fluid">
                    <h1 class="mb-4 text-start"
                        style="margin-bottom: 42px;font-size: 33px;color: rgb(72,72,72);font-weight: bold;font-family: 'Roboto', sans-serif;">
                        Student Table</h1>
                    <div
                        class="d-flex justify-content-end align-items-end justify-content-lg-end justify-content-xl-end align-items-xl-center">
                        <div>
                            <a class="btn btn-lg btn-primary fs-6" role="button" th:href="@{/admin/studentRegister}"
                                style="width: 179.1px;font-size: 18px;height: 44px;margin-bottom: 12px; padding-top: 10px">
                                <i class="fa fa-user-plus fas fs-5"></i>&nbsp;
                                Add Student
                            </a>
                        </div>
                    </div>
                    <div class="card shadow">
                        <!-- <div class="card-header py-3">
                            <form>
                                <div class="row">
                                    <div class="col-auto text-nowrap" style="width: 237.078px;margin-top: 4px;">
                                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                            <label class="form-label" style="color: rgb(77,77,77);"
                                                for="cours-name">Course<select
                                                    class="form-select d-inline-block form-select form-select-sm"
                                                    style="margin-left: 10px;width: 146.062px;" name="cours-name">
                                                    <option value="JAVA">JAVA</option>
                                                    <option value="PHP">PHP</option>
                                                    <option value="Programming Fundamental">Programming Fundamental
                                                    </option>
                                                    <option value="Andriod">Andriod</option>
                                                </select>&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto col-xxl-auto text-nowrap"
                                        style="margin-top: 4px;">
                                        <div id="dataTable_length-2" class="dataTables_length"
                                            aria-controls="dataTable"><label class="form-label"
                                                style="color: rgb(77,77,77);" for="batch-name">Batch<select
                                                    class="form-select d-inline-block form-select form-select-sm"
                                                    style="margin-left: 10px;width: 127.453px;" name="batch-name">
                                                    <option selected disabled>Choose One Batch</option>
                                                    <option value="1">Java Web Batch 01</option>
                                                    <option value="2">OJT Batch 01</option>
                                                    <option value="3">PHP Batch 01</option>
                                                </select>&nbsp;</label></div>
                                    </div>
                                    <div class="col-sm-5 col-lg-3"><button class="btn btn-dark border rounded shadow-sm"
                                            type="submit">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div> -->
                        <div class="card-body text-dark" >

                            <!-- where I have to write table -->
                            <table id="dataTable">
                                <thead class="table">
                                    <tr>
                                        <th>Student Id</th>
                                        <th>Student Name</th>
                                        <th>Batch</th>
                                        <th>Action</th>
                                        <th>Info</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="student : ${studentList}">
                                        <td>[[${student?.id}]]</td>
                                        <td>[[${student?.name}]]</td>
                                        <td th:each="batch : ${student.batchList}">
                                            [[${batch.name}]]
                                        </td>

                                        <td>
                                            <a th:href="@{/admin/editStudent/} + ${student?.id}"
                                                class="btn btn-primary me-1">
                                                Edit
                                            </a>
                                            <a class="btn btn-outline-danger"
                                                th:attr="onclick=|handleDelete('${student.id}')|">
                                                Remove
                                            </a>
                                        </td>
                                        <td class="flex-lg-nowrap flex-nowrap">
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-warning" data-bs-toggle="modal"
                                                data-bs-target="#staticBackdrop2">
                                                Detail
                                            </button>

                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2022</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <div th:insert="/admin/admin-fragments :: footer" />

    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });

        const handleDelete = (studentId) => {
            Swal.fire({
                title: 'Are you sure want to delete?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location = `http://localhost:8080/admin/deleteStudent/${studentId}`;
                }
            })
        }
    </script>
</body>

</html>