<!DOCTYPE html>
<html>

<head th:insert="/admin/admin-fragments :: admin_head">
    <title>Register Student</title>
</head>

<style>
    [v-cloak] {
        display: none
    }
</style>

<body id="page-top">
    <div id="wrapper">
        <!-- this is where side bar is -->
        <div th:insert="/admin/admin-fragments :: sidebar" />

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <!-- this is where nav bar is -->
                <div th:insert="/admin/admin-fragments :: navbar" />

                <div id="student-grid">
                    <div class="container-fluid">
                        <select v-model="batch" class="form-select mb-4 mt-5 shadow-sm"
                            aria-label="Default select example" style="width: 12rem;">
                            <option disabled>Choose One Batch</option>
                            <span th:each="batch : ${batchList}">
                                <option th:value="${batch.id}">[[${batch.name}]]</option>
                            </span>
                        </select>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Student ID</th>
                                    <th>Student Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(inputField, index) in inputFields" :key="index">
                                    <td>
                                        <input v-model="inputField.id" class="form-control"
                                            :class="{'border-danger border-2': inputField.isExist }" type="text"
                                            placeholder="id" />
                                        <p v-cloak v-show="inputField.isExist" class="text-danger">
                                            ID Already Exists
                                        </p>
                                    </td>
                                    <td>
                                        <input v-model="inputField.name" class="form-control" type="text"
                                            placeholder="name" />
                                    </td>
                                    <td class=" pt-1 text-nowrap">
                                        <button @click.prevent="handleRemoveField(index)"
                                            class="btn btn-danger m-1 bg-gradient shadow-sm">-</button>
                                        <button @click.prevent="handleAddField()"
                                            class="btn btn-success m-1 bg-gradient shadow-sm">+</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-start ms-2">
                            <button @click.prevent="handleSend()" class="btn btn-primary bg-gradient shadow-sm"
                                style="width:130px;"><i class="fa fa-user-plus fas fa-lg"
                                    style="padding-bottom: 7px; padding-top: 9px; font-size:16px"></i>&nbsp;&nbsp;Add</button>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="pb-2 pt-2 small text-dark mt-5" data-pg-collapsed style="background-color: #dfdfdf;">
                <div class="container pb-2 pt-2">
                    <p class="mb-0 text-center" style="font-family: 'Roboto', sans-serif;">&copy; 2022. All Rights
                        Reserved - Ace Inspiration</p>
                </div>
            </footer>
        </div>
    </div>

    <div th:insert="/admin/admin-fragments :: footer" />

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    userIdList: [],
                    isEmpty: null,
                    batch: 'Choose One Batch',
                    inputFields: [
                        { id: '', name: '', batchId: '', isExist: false },
                    ],
                }
            },
            methods: {
                isDuplicate(array) {
                    const isDuplicate = array.some((item, index) => index !== array.indexOf(item));
                    if (!isDuplicate) {
                        return false;
                    } else {
                        return true;
                    }
                },
                handleAddField() {
                    this.inputFields = [...this.inputFields, { id: '', name: '', batchId: '' }];
                },
                handleRemoveField(index) {
                    if (this.inputFields.length > 1) {
                        const values = [...this.inputFields];
                        values.splice(index, 1);
                        this.inputFields = values;
                    }
                },
                handleSend() {
                    let inputIdList = [];
                    this.inputFields.forEach(student => {
                        inputIdList.push(student.id);
                    });
                    this.isEmpty = false;
                    this.inputFields.forEach(student => {
                        if (
                            student.id.replace(/\s/g, "").length == 0 ||
                            student.name.replace(/\s/g, "").length == 0
                        ) {
                            this.isEmpty = true;
                            Swal.fire(
                                'Please Fill All Student Inputs!',
                                '',
                                'info'
                            )
                        }
                        else if (this.batch == "Choose One Batch") {
                            this.isEmpty = true;
                            Swal.fire(
                                'Please Choose One Batch!',
                                '',
                                'info'
                            )
                        } else if (this.userIdList.includes(student.id)) {
                            this.isEmpty = true;
                            Swal.fire(
                                `ID ${student.id} already exists`,
                                '',
                                'info'
                            )
                        } else if (this.isDuplicate(inputIdList)) {
                            this.isEmpty = true;
                            Swal.fire(
                                `ID ${student.id} is duplicate`,
                                '',
                                'info'
                            )
                        }
                    });
                    if (!this.isEmpty) {
                        let data = [];
                        this.inputFields.forEach(student => {
                            data = [...data, { id: student.id, name: student.name, batchId: this.batch }];
                        });
                        axios
                            .post('http://localhost:8080/api/student/addStudents/', data)
                            .then(() => {
                                Swal.fire(
                                    'Successfully Registered!',
                                    '',
                                    'success'
                                ).then(() => window.location = "http://localhost:8080/admin/student-table");
                            })
                            .catch(error => console.log(error));
                    }
                },
            },
            mounted() {
                axios
                    .get('http://localhost:8080/api/user/getUserIdList')
                    .then(res => {
                        this.userIdList = [...res.data];
                    })
                    .catch(error => console.log(error));
            },
            computed: {
                id() {
                    return this.inputFields.map(input => input.id);
                }
            },
            watch: {
                inputFields: {
                    handler: function (newValue, oldValue) {
                        newValue.forEach((user) => {
                            user.isExist = false;
                            if (this.userIdList.includes(user.id.replace(/\s/g, ""))) {
                                let index = this.inputFields.indexOf(user);
                                this.inputFields[index].isExist = true;
                            }
                        });
                    },
                    deep: true,
                }
            }
        });

        app.mount('#student-grid');
    </script>

</body>

</html>