<!DOCTYPE html>
<html>

<head th:insert="/admin/admin-fragments :: admin_head">
    <title>Create Exam</title>
</head>

<body id="page-top">
    <div id="wrapper">

        <!-- this is where side nav is -->
        <div th:insert="/admin/admin-fragments :: sidebar" />

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">

                <!-- this is where nav bar is -->
                <div th:insert="/admin/admin-fragments :: navbar" />

                <div class="container-fluid pb-5 pe-5 ps-5 pt-2" id="app" style="max-width: 45rem;">
                    <h1 class="fs-3 mb-2 text-secondary"
                        style="font-size: 33px; color: rgb(72,72,72); font-weight: bold; font-family: 'Roboto', sans-serif;">
                        Create Exam</h1>
                    <form action="">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body p-4 fw-bold text-dark">
                                <select v-model="course" class="form-select mb-4" aria-label="Default select example"
                                    required style="width: 10rem;">
                                    <option value="" disabled>Choose Course</option>
                                    <span th:each="course : ${courseList}">
                                        <option th:value="${course.id}">
                                            [[${course?.name}]]
                                        </option>
                                    </span>
                                </select>

                                <div class="input-group mb-3">
                                    <input v-model="name" type="text" class="form-control mb-2" placeholder="Exam Name"
                                        required />
                                </div>
                            </div>
                        </div>

                        <div v-for="(question, index) in questionList" :key="index">
                            <div class="card mb-4 shadow-sm">
                                <div class="card-body p-4 text-dark fw-bold">
                                    <form>
                                        <label class="form-label fs-4 fw-bold">Question</label>
                                        <div class="input-group mb-3">
                                            <input v-model="question.examQuestion" type="text" class="form-control mb-2"
                                                required style="width: 100%;" placeholder="Untitiled Question" />
                                        </div>
                                        <div class="mb-4">
                                            <div class="form-check">
                                                <div v-for="(radio, indes) in question.radioList" :key="indes"
                                                    class="input-group mb-3">
                                                    <input v-model="radio.radioValue" type="text" required
                                                        class="form-control" :placeholder="'Option ' + (++indes)" />
                                                    <button @click.prevent="removeRadio(index, --indes)" type="button"
                                                        class="btn btn-danger fw-bold rounded ms-2">
                                                        -
                                                    </button>
                                                    <button @click.prevent="addRadio(index)" type="button"
                                                        class="btn btn-primary fw-bold rounded ms-2">
                                                        +
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                        <input v-model="question.rightAnswer" class="form-control" required
                                            placeholder="Enter the right answer" />
                                        <div class="text-end mt-3">
                                            <button @click.prevent="removeQuestion(index)" type="button"
                                                class="btn btn-danger fw-bold me-3" style="width: 40px;">-</button>
                                            <button @click.prevent="addQuestion()" type="button"
                                                class="btn btn-primary fw-bold" style="width: 40px;">+</button>
                                        </div>

                                    </form>

                                </div>
                            </div>
                        </div>
                        <!-- <div class="card mb-4 shadow-sm">
                            <div class="card-body p-4 fw-bold text-dark"> -->
                                <!-- <label for="inputEmail4" class="form-label fs-4 fw-bold">Full Mark</label>
                                <div class=" d-flex flex-row-reverse input-group mb-3">
                                    <input v-model="fullMark" type="number" class="form-control mb-4" id="inputEmail4"
                                        required style="width: 100%;" placeholder="Enter Full Mark" /> -->
                                    <button @click="createExam()" type="submit"
                                        class="btn btn-primary rounded">Submit</button>
                                <!-- </div>
                            </div> -->
                        </div>
                    </form>
                </div>

            </div>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <div th:insert="/admin/admin-fragments :: footer" />
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    isEmpty: null,
                    courseList: [],
                    course: '',
                    name: '',
                    fullMark: '',
                    questionList: [
                        {
                            examQuestion: '',
                            rightAnswer: '',
                            radioList: [
                                {
                                    radioValue: ''
                                }
                            ]
                        }
                    ],
                }
            },
            methods: {
                addQuestion() {
                    this.questionList = [...this.questionList,
                    {
                        examQuestion: '',
                        rightAnswer: '',
                        radioList: [
                            {
                                radioValue: ''
                            }
                        ]
                    }
                    ];
                },
                removeQuestion(index) {
                    if (this.questionList.length > 1) {
                        const values = [...this.questionList];
                        values.splice(index, 1);
                        this.questionList = values;
                    }
                },
                addRadio(index) {
                    this.questionList[index].radioList = [...this.questionList[index].radioList,
                    {
                        radioValue: ''
                    }
                    ]
                },
                removeRadio(index, indes) {
                    if (this.questionList[index].radioList.length > 1) {
                        let values = [...this.questionList[index].radioList]
                        values.splice(indes, 1);
                        this.questionList[index].radioList = values;
                    }
                },
                createExam() {
                    this.isEmpty = false;
                    this.questionList.forEach(question => {

                        question.radioList.forEach(radio => {
                            if (radio.radioValue.replace(/\s/g, "").length == 0) {
                                this.isEmpty = true;
                                Swal.fire(
                                    'Please Fill All Radio Options!',
                                    '',
                                    'info'
                                )
                            }
                        });

                        if (
                            question.examQuestion.replace(/\s/g, "").length == 0 ||
                            question.rightAnswer.replace(/\s/g, "").length == 0
                        ) {
                            this.isEmpty = true;
                            Swal.fire(
                                'Please Fill All Question Forms!',
                                '',
                                'info'
                            )
                        }
                        else if (
                            this.course.replace(/\s/g, "").length == 0 ||
                            this.name.replace(/\s/g, "").length == 0 ||
                            this.fullMark.length == 0
                        ) {
                            this.isEmpty = true;
                            Swal.fire(
                                'Please Fill All Input Forms!',
                                '',
                                'info'
                            )
                        }
                    })

                    if (!this.isEmpty) {
                        let data = {
                            courseId: this.course,
                            name: this.name,
                            fullMark: this.fullMark,
                            questionList: this.questionList
                        }
                        console.log(data);
                        axios
                            .post('http://localhost:8080/api/exam/addExam', data)
                            .then(() => {
                                Swal.fire(
                                    'Successfully Created!',
                                    '',
                                    'success'
                                ).then(() => window.location = "http://localhost:8080/admin/exam-table");
                            })
                            .catch(error => console.log(error));
                    }
                },
            },
        });

        app.mount('#app');
    </script>
</body>

</html>