<!DOCTYPE html>
<html>

<head th:insert="/admin/admin-fragments :: admin_head">
    <title>Register Teacher</title>
</head>

<style>
    [v-cloak] {
        display: none
    }
</style>

<body id="page-top" style="font-family: 'Roboto', sans-serif;">
    <div id="wrapper">
        <!-- this is where side bar is -->
        <div th:insert="/admin/admin-fragments :: sidebar" />

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <!-- this is where nav bar is -->
                <div th:insert="/admin/admin-fragments :: navbar" />

                <div id="teacher-grid">
                    <div class="container-fluid">
                        <!-- this is where i write grid -->
                        <div class="select mb-3">
                            <select v-model="batch" aria-label="Default select example">
                                <option selected disabled>Choose One Batch</option>
                                <span th:each="batch : ${batchList}">
                                    <option th:value="${batch?.id}">[[${batch?.name}]]</option>
                                </span>
                            </select>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Teacher ID</th>
                                    <th>Teacher Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(inputField, index) in inputFields" :key="index">
                                    <td>
                                        <input v-model="inputField.id" class="form-control"
                                            :class="{'border-danger border-2': inputField.isExist }" type="text"
                                            placeholder="id" />
                                        <p v-cloak v-show="inputField.isExist" class="text-danger">
                                            ID Already Exists
                                        </p>
                                    </td>
                                    <td>
                                        <input v-model="inputField.name" class="form-control" type="text"
                                            placeholder="name" />
                                    </td>
                                    <td class="d-flex flex-lg-wrap">
                                        <button @click.prevent="handleRemoveField(index)"
                                        class="btn btn-danger fw-bolder m-1 bg-gradient shadow-sm"
                                        style="width: 38px;">-</button>
                                        <button @click.prevent="handleAddField()" class="btn btn-success fw-bolder m-1 bg-gradient shadow-sm"
                                        style="width: 38px;">+</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-start ms-2">
                            <button @click.prevent="handleSend()" class="btn btn-primary bg-gradient shadow-sm"
                            style="width:130px;"><i class="fa-solid fa-user-plus me-2"
                                style="font-size:15px"></i>Add</button>
                        </div>
                    </div>
                </div>

            </div>
            <footer class="pb-2 pt-2 small text-dark mt-5" data-pg-collapsed style="background-color: #dfdfdf;">
                <div class="container pb-2 pt-2">
                    <p class="mb-0 text-center">&copy; 2022. All Rights
                        Reserved - Ace Inspiration</p>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <div th:insert="/admin/admin-fragments :: footer" />

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    userIdList: [],
                    isEmpty: null,
                    batch: 'Choose One Batch',
                    inputFields: [
                        { id: '', name: '', batch: '', isExist: false },
                    ],
                }
            },
            methods: {
                isDuplicate(array) {
                    const isDuplicate = array.some((item, index) => index !== array.indexOf(item));
                    if (!isDuplicate) {
                        return false;
                    } else {
                        return true;
                    }
                },
                handleAddField() {
                    this.inputFields = [...this.inputFields, { id: '', name: '', batch: '' }];
                },
                handleRemoveField(index) {
                    if (this.inputFields.length > 1) {
                        const values = [...this.inputFields];
                        values.splice(index, 1);
                        this.inputFields = values;
                    }
                },
                handleSend() {
                    let inputIdList = [];
                    this.inputFields.forEach(student => {
                        inputIdList.push(student.id);
                    });
                    this.isEmpty = false;
                    this.inputFields.forEach(teacher => {
                        if (
                            teacher.id.replace(/\s/g, "").length == 0 ||
                            teacher.name.replace(/\s/g, "").length == 0
                        ) {
                            this.isEmpty = true;
                            Swal.fire(
                                'Please Fill All Teacher Inputs!',
                                '',
                                'info'
                            )
                        } else if (this.batch == "Choose One Batch") {
                            this.isEmpty = true;
                            Swal.fire(
                                'Please Choose One Batch!',
                                '',
                                'info'
                            )
                        } else if (this.userIdList.includes(teacher.id)) {
                            this.isEmpty = true;
                            Swal.fire(
                                `ID ${teacher.id} already exists`,
                                '',
                                'info'
                            )
                        } else if (this.isDuplicate(inputIdList)) {
                            this.isEmpty = true;
                            Swal.fire(
                                `ID ${teacher.id} is duplicate`,
                                '',
                                'info'
                            )
                        }
                    });

                    if (!this.isEmpty) {
                        let data = [];
                        this.inputFields.forEach(teacher => {
                            data = [...data, { id: teacher.id, name: teacher.name, batchId: this.batch }];
                        });
                        axios
                            .post('http://localhost:8080/api/teacher/addTeachers/', data)
                            .then(() => {
                                Swal.fire(
                                    'Successfully Registered!',
                                    '',
                                    'success'
                                ).then(() => window.location = "http://localhost:8080/admin/teacher-table");
                            })
                            .catch(error => console.log(error));
                    }

                }
            },
            mounted() {
                axios
                    .get('http://localhost:8080/api/user/getUserIdList')
                    .then(res => {
                        this.userIdList = [...res.data];
                    })
                    .catch(error => console.log(error));
            },
            watch: {
                inputFields: {
                    handler: function (newValue, oldValue) {
                        newValue.forEach((user) => {
                            setTimeout(() => {
                                user.isExist = false;
                            }, 10);
                            if (this.userIdList.includes(user.id)) {
                                let index = this.inputFields.indexOf(user);
                                this.inputFields[index].isExist = true;
                            }
                        });
                    },
                    deep: true
                }
            }
        });

        app.mount('#teacher-grid');
    </script>
    <style>
        :root {
            --background-gradient: linear-gradient(30deg, #f39c12 30%, #f1c40f);
            --gray: #4961a8;
            --darkgray: #4a6ac9;
        }

        select {
            /* Reset Select */
            appearance: none;
            outline: 0;
            border: 0;
            box-shadow: none;
            /* Personalize */
            flex: 1;
            padding: 0 1em;
            color: #fff;
            background-color: var(--darkgray);
            background-image: none;
            cursor: pointer;
        }

        /* Remove IE arrow */
        select::-ms-expand {
            display: none;
        }

        /* Custom Select wrapper */
        .select {
            position: relative;
            display: flex;
            width: 20em;
            height: 3em;
            border-radius: .25em;
            overflow: hidden;
            color: #e6e6e6;
        }

        /* Arrow */
        .select::after {
            content: '\25BC';
            position: absolute;
            top: 0;
            right: 0;
            padding: 1em;
            background-color: #5c78cc;
            transition: .25s all ease;
            pointer-events: none;
        }

        /* Transition */
        .select:hover::after {
            color: #ffffff;
        }
    </style>
</body>

</html>