<!DOCTYPE html>
<html>

<head th:insert="/admin/admin-fragments :: admin_head">
    <title>Create File Exam</title>
</head>

<body id="page-top" style="font-family: 'Roboto', sans-serif;">
    <div id="wrapper">
        <!-- this is where side bar is -->
        <div th:insert="/admin/admin-fragments :: sidebar" />

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" class="fs-6">
                <!-- this is where navbar is -->
                <div th:insert="/admin/admin-fragments :: navbar" />

                <div class="container-fluid pb-5 pe-5 ps-5 pt-2" style="max-width: 45rem;">
                    <div>
                        <h1 class="fs-3 mb-2 text-secondary"
                            style="font-size: 33px; color: rgb(72,72,72); font-weight: bold;">
                            Create File Exam
                        </h1>
                    </div>
                    <div class="card mb-4 shadow-sm">
                        <input type="hidden" th:value="${errorMsg}" id="errorMsg">
                        <input id="isSuccess" type="hidden" th:value="${isSuccess}">
                        <form th:action="@{/admin/create-file-exam}" th:object="${fileExam}" method="post"
                            enctype="multipart/form-data">
                            <div class="card-body p-4 text-dark">
                                <div class="dropdown">
                                    <div class="mb-2">
                                        <label for="formInput6" class="fs-6">Course</label>
                                        <select id="formInput6" class="form-select mb-3" th:field="*{fileExamCourse}"
                                            aria-label="Default select example">
                                            <span th:each="course : ${courseList}">
                                                <option th:value="${course?.id}">[[${course?.name}]]</option>
                                            </span>
                                        </select>
                                    </div>
                                </div>
                                <label class="fs-6">Exam Name</label>
                                <div class="input-group mb-2">
                                    <input type="text" class="form-control mb-2" placeholder="Enter Exam Name"
                                        th:field="*{name}" required="true" />
                                </div>
                                <label class="fs-6">Exam Question</label>
                                <div class="input-group mb-2">
                                    <textarea type="text" class="form-control mb-2" placeholder="Enter Exam Question"
                                        th:field="*{question}" required="true"></textarea>
                                </div>
                                <label class="fs-6">Total Mark</label>
                                <div class="input-group mb-2">
                                    <input type="number" class="form-control mb-2" placeholder="Enter Exam Question"
                                        th:field="*{totalMark}" required="true" />
                                </div>
                                <label class="text-dark">
                                    Exam File
                                </label>
                                <div class="input-group mb-2">
                                    <input class="form-control" type="file" th:field="*{questionFile}" accept=".zip"
                                        required />
                                </div>
                                <div class="text-end">
                                    <button type="submit" class="btn btn-primary bg-gradient shadow-sm w-25">
                                        <i class="fa-solid fa-file-circle-plus me-1"></i>Create
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <footer class="pb-2 pt-2 small text-dark mt-5" data-pg-collapsed style="background-color: #dfdfdf;">
                <div class="container pb-2 pt-2">
                    <p class="mb-0 text-center">&copy; 2022. All Rights
                        Reserved - Ace Inspiration</p>
                </div>
            </footer>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <div th:insert="/admin/admin-fragments :: footer" />
    <script>
        $(document).ready(function () {
            const alertError = () => {
                Swal.fire({
                    icon: 'info',
                    title: 'Exam Name Already Exists For That Course!',
                    text: '',
                })
            }
            let isSuccess = document.getElementById("isSuccess").value;
            if (isSuccess) {
                Swal.fire(
                    'Successfully Created!',
                    '',
                    'success'
                ).then(() => window.location = "http://localhost:8080/admin/exam-table");
            }
            let errorMsg = document.getElementById("errorMsg").value;
            if (errorMsg) {
                alertError();
            }
        });

    </script>

</body>

</html>