<!DOCTYPE html>
<html>

<head th:insert="/admin/admin-fragments :: admin_head">
    <title>Edit Batch</title>
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- this is where side bar is -->
          <div th:insert="/admin/admin-fragments :: sidebar" />

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" class="fs-6">
                <!-- this is where navbar is -->
                <div th:insert="/admin/admin-fragments :: navbar" />

                <div class="container-fluid pb-5 pe-5 ps-5 pt-2" style="max-width: 45rem;">
                    <h1 class="h2" style="padding-right: 0px;">Edit Batch</h1>
                    <div class="card mb-4 shadow-sm">
                        <form th:action="@{/admin/editBatch}" th:object="${batch}" method="post">
                            <div class="card-body p-4 text-dark">
                                <div class="dropdown">
                                    <div class="mb-3">
                                        <input th:field="*{id}" type="hidden">
                                        <label for="formInput6" class="fs-6">Course</label>
                                        <select id="formInput6" class="form-select mb-4"
                                            th:field="*{batchCourse.id}"
                                            aria-label="Default select example">
                                            <option th:value="${batch?.batchCourse.id}">[[${batch.batchCourse.name}]]</option>
                                            <span th:each="course : ${courseList}">
                                                <span th:if="${course?.id != batch?.batchCourse.id}">
                                                    <option th:value="${course?.id}">[[${course?.name}]]</option>
                                                </span>
                                            </span>
                                        </select>
                                    </div>
                                </div>
                                <label class="fs-6">Batch name</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control mb-2"
                                    th:field="*{name}"
                                     placeholder="Enter batch name"
                                         required="true" />
                                </div>
                                <label class="fs-6">Start Date</label>
                                <div class="input-group mb-3">
                                    <input type="date" class="form-control mb-2"
                                    th:field="*{startDate}" 
                                         required="true" />
                                </div>
                                <label class="fs-6">End Date</label>
                                <div class="input-group mb-3">
                                    <input type="date" class="form-control mb-2"
                                    th:field="*{endDate}"
                                        required="true" />
                                </div>
                                <div class="text-end">
                                    <button type="submit" class="btn btn-primary">Edit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

     <div th:insert="/admin/admin-fragments :: footer" />

</body>

</html>