<!DOCTYPE html>
<html>

<head th:insert="/admin/admin-fragments :: admin_head">
    <title>Create Exam</title>
</head>

<style>
    [v-cloak] {
        display: none
    }
</style>

<body id="page-top" style="font-family: 'Roboto', sans-serif;">
    <div id="wrapper">

        <!-- this is where side nav is -->
        <div th:insert="/admin/admin-fragments :: sidebar" />

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">

                <!-- this is where nav bar is -->
                <div th:insert="/admin/admin-fragments :: navbar" />

                <div v-cloak class="container-fluid pb-5 pe-5 ps-5 pt-2" id="app" style="max-width: 45rem;">
                    <h1 class="fs-3 mb-2 text-secondary"
                        style="font-size: 33px; color: rgb(72,72,72);  font-family: 'Roboto', sans-serif;">
                        Create Exam</h1>
                    <form action="">
                        <div class="card shadow-sm" style="margin-bottom: 13px;">
                            <div class="card-body p-4 fw-bold text-dark">
                                <select v-model="course" class="form-select w-50" aria-label="Default select example"
                                    required style="width: 10rem; margin-bottom: 13px;">
                                    <option value="" disabled>Choose Course</option>
                                    <span th:each="course : ${courseList}">
                                        <option th:value="${course.id}">
                                            [[${course?.name}]]
                                        </option>
                                    </span>
                                </select>

                                <div class="input-group">
                                    <input v-model="name" type="text" class="form-control" placeholder="Exam Name"
                                        maxlength="900" required />
                                </div>
                            </div>
                        </div>

                        <div v-for="(question, index) in questionList" :key="index">
                            <div class="card shadow-sm" style="margin-bottom: 13px;">
                                <div class="card-body p-3 text-dark fw-bold">
                                    <form>
                                        <label class="form-label fs-4 text-primary">Question {{ index + 1 }}</label>
                                        <div class="input-group">
                                            <input v-model="question.examQuestion" type="text" class="form-control"
                                                maxlength="900" required style="width: 100%; margin-bottom: 13px;"
                                                placeholder="Untitiled Question" />
                                        </div>
                                        <div class="form-check">
                                            <div v-for="(radio, indes) in question.radioList" :key="indes"
                                                class="input-group" style="margin-bottom: 13px;">
                                                <input v-model="radio.radioValue" type="text" required maxlength="900"
                                                    class="form-control" :placeholder="'Option ' + (++indes)" />
                                                <button @click.prevent="removeRadio(index, --indes)" type="button"
                                                class="btn btn-outline-danger fw-bolder shadow-sm ms-1 me-1"
                                                style="width: 38px;">
                                                    -
                                                </button>
                                                <button @click.prevent="addRadio(index)" type="button"
                                                class="btn btn-outline-primary fw-bolder shadow-sm"
                                                style="width: 38px;">
                                                    +
                                                </button>
                                            </div>
                                        </div>
                                        <input v-model="question.rightAnswer" class="form-control" required
                                            placeholder="Enter the correct answer" maxlength="900"  style="margin-bottom: 13px;"/>
                                        <input v-model="question.mark" type="number" class="form-control"
                                            id="inputEmail4" required style="width: 100%; margin-bottom: 13px;" placeholder="Enter Mark" />
                                        <div class="text-end">
                                            <button @click.prevent="removeQuestion(index)" type="button"
                                            class="btn bg-gradient btn-danger fw-bolder shadow-sm ms-1 me-1"
                                            style="width: 38px;">-</button>
                                            <button @click.prevent="addQuestion()" type="button"
                                            class="btn bg-gradient btn-primary fw-bolder shadow-sm"
                                            style="width: 38px;">+</button>
                                        </div>
                                        

                                    </form>

                                </div>
                            </div>
                        </div>
                        <!-- <div class="card mb-4 shadow-sm">
                            <div class="card-body p-4 fw-bold text-dark"> -->
                        <!-- <label for="inputEmail4" class="form-label fs-4 fw-bold">Full Mark</label>
                                <div class=" d-flex flex-row-reverse input-group mb-3">
                                    <input v-model="fullMark" type="number" class="form-control mb-4" id="inputEmail4"
                                        required style="width: 100%;" placeholder="Enter Full Mark" /> -->
                        <button @click="createExam()" type="submit" class="btn bg-gradient shadow-sm btn-primary rounded">Submit<i class="ms-2 fa-solid fa-check"></i></button>
                        <!-- </div>
                            </div> -->
                </div>
                </form>
            </div>
            <footer class="pb-2 pt-2 small text-dark mt-5" data-pg-collapsed style="background-color: #dfdfdf;">
                <div class="container pb-2 pt-2">
                    <p class="mb-0 text-center" style="font-family: 'Roboto', sans-serif;">&copy; 2022. All Rights
                        Reserved - Ace Inspiration</p>
                </div>
            </footer>
        </div>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <div th:insert="/admin/admin-fragments :: footer" />
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    isEmpty: null,
                    courseList: [],
                    course: '',
                    name: '',
                    questionList: [
                        {
                            examQuestion: '',
                            rightAnswer: '',
                            mark: '',
                            radioList: [
                                {
                                    radioValue: ''
                                }
                            ]
                        }
                    ],
                }
            },
            methods: {
                addQuestion() {
                    this.questionList = [...this.questionList,
                    {
                        examQuestion: '',
                        rightAnswer: '',
                        mark: '',
                        radioList: [
                            {
                                radioValue: ''
                            }
                        ]
                    }
                    ];
                },
                removeQuestion(index) {
                    if (this.questionList.length > 1) {
                        const values = [...this.questionList];
                        values.splice(index, 1);
                        this.questionList = values;
                    }
                },
                addRadio(index) {
                    this.questionList[index].radioList = [...this.questionList[index].radioList,
                    {
                        radioValue: ''
                    }
                    ]
                },
                removeRadio(index, indes) {
                    if (this.questionList[index].radioList.length > 1) {
                        let values = [...this.questionList[index].radioList]
                        values.splice(indes, 1);
                        this.questionList[index].radioList = values;
                    }
                },
                createExam() {
                    this.isEmpty = false;
                    this.questionList.forEach((question, index) => {
                        question.radioList.forEach(radio => {
                            if (radio.radioValue.replace(/\s/g, "").length == 0) {
                                this.isEmpty = true;
                                Swal.fire(
                                    'Please Fill All Radio Options!',
                                    '',
                                    'info'
                                )
                            }
                        });
                        if (
                            question.examQuestion.replace(/\s/g, "").length == 0 ||
                            question.rightAnswer.replace(/\s/g, "").length == 0 ||
                            question.mark.length == 0

                        ) {
                            this.isEmpty = true;
                            Swal.fire(
                                'Please Fill All Question Forms!',
                                '',
                                'info'
                            )
                        }
                        else if (
                            this.course.replace(/\s/g, "").length == 0 ||
                            this.name.replace(/\s/g, "").length == 0
                        ) {
                            this.isEmpty = true;
                            Swal.fire(
                                'Please Fill All Input Forms!',
                                '',
                                'info'
                            )
                        } else {
                            let radioValues = [];
                            question.radioList.forEach(radio => {
                                radioValues.push(radio.radioValue);
                            });
                            if (!radioValues.includes(question.rightAnswer)) {
                                this.isEmpty = true;
                                Swal.fire(
                                    `\"Question ${index + 1}\" correct answer and one of the option value do not match`,
                                    '',
                                    'info'
                                )
                            }
                        }
                    })

                    if (!this.isEmpty) {
                        let fullMark = 0;
                        this.questionList.forEach(question => {
                            fullMark = fullMark + question.mark;
                        });
                        let data = {
                            courseId: this.course,
                            name: this.name,
                            fullMark: fullMark,
                            questionList: this.questionList
                        }
                        console.log(data);
                        axios
                            .post('http://localhost:8080/api/exam/addExam', data)
                            .then(() => {
                                Swal.fire(
                                    'Successfully Created!',
                                    '',
                                    'success'
                                ).then(() => window.location = "http://localhost:8080/admin/exam-table");
                            })
                            .catch(error => console.log(error));
                    }
                },
            },
        });

        app.mount('#app');
    </script>
</body>

</html>