<!DOCTYPE html>
<html>

<head th:insert="/admin/admin-fragments :: admin_head">
    <title>Register Student</title>
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- this is where side bar is -->
        <div th:insert="/admin/admin-fragments :: sidebar" />

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <!-- this is where nav bar is -->
                <div th:insert="/admin/admin-fragments :: navbar" />

                <div id="student-grid">
                    <div class="container-fluid">
                        <select v-model="batch" class="form-select" aria-label="Default select example"
                            style="width: 12rem;">
                            <option disabled>Choose One Batch</option>
                            <span th:each="batch : ${batchList}">
                                <option th:value="${batch.id}">[[${batch.name}]]</option>
                            </span>
                        </select>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Student Id</th>
                                    <th>Student Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(inputField, index) in inputFields" :key="index">
                                    <td>
                                        <input v-model="inputField.id" class="form-control" type="text"
                                            placeholder="id" />
                                    </td>
                                    <td>
                                        <input v-model="inputField.name" class="form-control" type="text"
                                            placeholder="name" />
                                    </td>
                                    <td class="d-inline-flex flex-lg-wrap">
                                        <button @click.prevent="handleRemoveField(index)"
                                            class="btn btn-danger m-1">-</button>
                                        <button @click.prevent="handleAddField()" class="btn btn-success m-1">+</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-start ms-2">
                            <button @click.prevent="handleSend()" class="btn btn-primary">Add</button>
                        </div>
                    </div>

                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2022</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <div th:insert="/admin/admin-fragments :: footer" />

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    batch: 'Choose One Batch',
                    inputFields: [
                        { id: '', name: '', batchId: '' },
                    ],
                }
            },
            methods: {
                handleAddField() {
                    this.inputFields = [...this.inputFields, { id: '', name: '', batchId: '' }];
                },
                handleRemoveField(index) {
                    if (this.inputFields.length > 1) {
                        const values = [...this.inputFields];
                        values.splice(index, 1);
                        this.inputFields = values;
                    }
                },
                handleSend() {
                    console.log(this.batch);
                    let data = [];
                    this.inputFields.forEach(student => {
                        data = [...data, { id: student.id, name: student.name, batchId: this.batch }];
                    });
                    console.log(data);
                    axios
                        .post('http://localhost:8080/api/student/addStudents', data)
                        .then(() => {
                            Swal.fire(
                                'Successfully Created!',
                                '',
                                'success'
                            ).then(() => window.location = "http://localhost:8080/admin/student-table");
                        })
                        .catch(error => console.log(error));
                },
                getAllBatches() {
                    axios.
                        get("http://localhost:8080/api/student/getCourses")
                        .then(() => {

                        })
                        .catch(error => console.log(error))
                }
            },
        });

        app.mount('#student-grid');
    </script>

</body>

</html>