<!DOCTYPE html>
<html>

<head th:insert="/admin/admin-fragments :: admin_head">
    <title>Batch Table</title>
</head>

<body id="page-top" style="font-family: 'Roboto', sans-serif;">
    <div id="wrapper">
        <!-- this is where side bar is -->
        <div th:insert="/admin/admin-fragments :: sidebar" />

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <!-- this is where nav bar is -->
                <div th:insert="/admin/admin-fragments :: navbar" />

                <div class="container-fluid">
                    <h1 class="fs-3 mb-4 text-secondary"
                        style="font-size: 33px; color: rgb(72,72,72); font-weight: bold;">
                        Batch Table</h1>
                    <div
                        class="d-flex justify-content-end align-items-end justify-content-lg-end justify-content-xl-end align-items-xl-center">
                        <div>
                            <a class="btn btn-lg btn-primary pe-1 ps-1 bg-gradient shadow-sm"
                                style="width: 145.5px; font-size: 14px; height: 40px; margin-bottom: 11px; padding-top: 3px;"
                                role="button" href="#add-batch-button" data-bs-toggle="modal">
                                <i class="fa-solid fa-users-gear" style="padding-top: 7px; font-size: 16px;"></i>&nbsp;
                                Create Batch
                            </a>
                            <div class="modal fade" role="dialog" tabindex="-1" id="add-batch-button">
                                <div class="modal-dialog modal-dialog-centered text-dark" role="document">
                                    <div class="modal-content">
                                        <form th:action="@{/admin/addBatch}" th:object="${batch}" method="post">
                                            <div class="border border-0 modal-header rounded rounded-0"
                                                style="background: #f8f9fc; background-color: #324da0; padding-top: 14px; padding-bottom: 14px;">
                                                <h4 style="color: rgb(75,75,75); margin-top: 5px; margin-bottom: 2px; font-size: 22px;"
                                                    class="text-light">
                                                    Create Batch
                                                </h4>
                                                <button type="button" class="btn-close btn-close-white"
                                                    data-bs-dismiss="modal" aria-label="Close">
                                                </button>
                                            </div>
                                            <div class="modal-body">

                                                <label for="">Course</label>
                                                <select th:field="*{batchCourse.id}" class="form-select mb-3"
                                                    aria-label="Default select example" required>
                                                    <span th:each="course : ${courseList}">
                                                        <option th:value="${course.id}">[[${course.name}]]</option>
                                                    </span>
                                                </select>

                                                <label for="">Batch Name</label>
                                                <input type="text" class="form-control mb-3" th:field="*{name}" required
                                                    maxlength="900" placeholder="eg: Java Batch 01" />
                                                <span id="calendar">
                                                    <label for="">Start Date</label>
                                                    <input type="date" class="form-control mb-3" :value="startDate"
                                                        @input="event => startDate = event.target.value"
                                                        th:field="*{startDate}" required />

                                                    <label for="">End Date</label>
                                                    <input type="date" class="form-control mb-3" :value="endDate"
                                                        @input="event => endDate = event.target.value"
                                                        th:field="*{endDate}" required :disabled="!isStartDateFilled" />
                                                </span>

                                            </div>
                                            <div class="modal-footer m-0 p-0">
                                                <button class="border border-0 btn btn-light m-0 rounded-0 w-50"
                                                    style="margin-right: 13px; height: 45px; background-color: #eaeaea;"
                                                    type="submit" data-bs-dismiss="modal">
                                                    Cancel
                                                </button>
                                                <button class="border border-0 btn btn-primary m-0 rounded-0 w-50"
                                                    style="margin-right: 13px; height: 45px; background-color: #324da0;"
                                                    type="submit">
                                                    Create
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow-sm">
                        <!-- <div class="card-header py-3">
                            <form>
                                <div class="row">
                                    <div class="col-auto text-nowrap" style="width: 237.078px;margin-top: 4px;">
                                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                            <label class="form-label" style="color: rgb(77,77,77);"
                                                for="cours-name">Course<select
                                                    class="form-select d-inline-block form-select form-select-sm"
                                                    style="margin-left: 10px;width: 146.062px;" name="cours-name">
                                                    <option value="JAVA">JAVA</option>
                                                    <option value="PHP">PHP</option>
                                                    <option value="Programming Fundamental">Programming Fundamental
                                                    </option>
                                                    <option value="Andriod">Andriod</option>
                                                </select>&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 col-lg-3"><button class="btn btn-dark border rounded shadow-sm"
                                            type="submit">Search</button>
                                    </div>

                                </div>
                            </form>
                        </div> -->
                        <div class="card-body text-dark pt-4">

                            <!-- data table -->
                            <table id="dataTable" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="text-nowrap">Batch ID</th>
                                        <th class="text-nowrap">Batch Name</th>
                                        <th>Course</th>
                                        <th class="text-nowrap">Start Date</th>
                                        <th class="text-nowrap">End Date</th>
                                        <th>Action</th>
                                        <th class="text-nowrap">Enable / Disable</th>
                                        <th class="text-nowrap">Generate Report</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="batch : ${batchList}">
                                        <td>[[${batch?.id}]]</td>
                                        <td>[[${batch?.name}]]</td>
                                        <td>[[${batch?.batchCourse.name}]]</td>
                                        <td>[[${batch?.startDate}]]</td>
                                        <td>[[${batch?.endDate}]]</td>
                                        <td>
                                            <a title="Edit" data-bs-placement="top" data-bs-toggle="tooltip"
                                                th:href="@{/admin/editBatch/} + ${batch?.id}"
                                                class="btn btn-outline-primary bg-gradient me-1">
                                                <i class="fa-solid fa-pen-to-square "></i>
                                            </a>

                                            <a class="btn-outline-danger bg-gradient btn" title="Remove"
                                                data-bs-placement="top" data-bs-toggle="tooltip"
                                                th:attr="onclick=|handleDelete('${batch.id}')|">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <span th:if="${batch.isActive == true}">
                                                <a th:href="@{/admin/toggleDisableBatch/} + ${batch?.id}"
                                                    class="bg-gradient btn btn-outline-danger me-2"
                                                    style="width: 100px;"><i class="fa-regular fa-circle-xmark"></i>
                                                    Disable
                                                </a>
                                            </span>

                                            <span th:if="${batch.isActive == false}">
                                                <a th:href="@{/admin/toggleDisableBatch/} + ${batch?.id}"
                                                    class="bg-gradient btn btn-outline-success me-2"
                                                    style="width: 100px;"><i class="fa-regular fa-circle-check"></i>
                                                    Enable
                                                </a>

                                            </span>
                                        </td>
                                        <td>
                                            <div class="dropdown" data-pg-collapsed>
                                                <button class="btn btn-outline-primary dropdown-toggle" type="button"
                                                    id="dropdownMenuButton" data-bs-toggle="dropdown"
                                                    aria-expanded="false">
                                                    <i class="fa-solid fa-download me-2"></i>Report</button>
                                                <ul class="dropdown-menu border-1 border-dark"
                                                    aria-labelledby="dropdownMenuButton">
                                                    <li><a class="dropdown-item" th:href="@{/admin/reportPdf/} + ${batch?.id} + '/' + 'pdf'"><i
                                                                class="fa-solid fa-file-pdf me-2"></i>Pdf</a>
                                                    </li>
                                                    <li><a class="dropdown-item" th:href="@{/admin/reportExcel/} + ${batch?.id} + '/' + 'excel'"><i
                                                                class="fa-solid fa-file-excel me-2"></i>Excel</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <footer class="pb-2 pt-2 small text-dark mt-5" data-pg-collapsed style="background-color: #dfdfdf;">
                <div class="container pb-2 pt-2">
                    <p class="mb-0 text-center">&copy; 2022. All Rights
                        Reserved - Ace Inspiration</p>
                </div>
            </footer>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <div th:insert="/admin/admin-fragments :: footer" />

    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        });

        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl);
        })

        $(document).ready(function () {
            $('#dataTable').DataTable({
                scrollX: true
            });
        });

        const handleDelete = (batchId) => {
            console.log(batchId);
            Swal.fire({
                title: 'Are you sure want to delete?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location = `http://localhost:8080/admin/deleteBatch/${batchId}`;
                }
            })
        }

        const app = Vue.createApp({
            data() {
                return {
                    startDate: '',
                    endDate: '',
                    isStartDateFilled: false
                }
            },
            methods: {
                getDate(date) {
                    let dd = String(date.getDate()).padStart(2, '0');
                    let mm = String(date.getMonth() + 1).padStart(2, '0');
                    let yyyy = date.getFullYear();
                    value = yyyy + '-' + mm + '-' + dd;
                    return value;
                }
            },
            watch: {
                startDate: function (newStartDate, oldStartDate) {
                    let dayAfterStartDate = new Date(newStartDate);
                    dayAfterStartDate.setDate(dayAfterStartDate.getDate() + 1);
                    let endDate = document.getElementById('endDate');
                    endDate.setAttribute("min", this.getDate(dayAfterStartDate));
                    this.isStartDateFilled = true;
                },
                endDate: function (newEndDate, oldEndDate) {
                    let maxDate = new Date(newEndDate);
                    maxDate.setDate(maxDate.getDate() - 1);
                    startDate.setAttribute("max", this.getDate(maxDate));
                }
            },
            mounted() {
                let today = new Date();
                let startDate = document.getElementById('startDate');
                startDate.setAttribute("min", this.getDate(today));
            }
        })
        app.mount('#calendar');

    </script>
</body>

</html>