<!DOCTYPE html>
<html>

<head th:insert="/admin/admin-fragments :: admin_head">
    <title>Batch Table</title>
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- this is where side bar is -->
        <div th:insert="/admin/admin-fragments :: sidebar" />

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <!-- this is where nav bar is -->
                <div th:insert="/admin/admin-fragments :: navbar" />

                <div class="container-fluid">
                    <h1 class="mb-4 text-start"
                        style="margin-bottom: 42px;font-size: 33px;color: rgb(72,72,72);font-weight: bold;font-family: 'Roboto', sans-serif;">
                        Batch Table</h1>
                    <div
                        class="d-flex justify-content-end align-items-end justify-content-lg-end justify-content-xl-end align-items-xl-center">
                        <div>
                            <a class="btn btn-lg btn-primary fs-6" role="button" href="#add-batch-button"
                                data-bs-toggle="modal"
                                style="width: 176.1px;font-size: 16px;height: 44px;margin-bottom: 12px; padding-top: 7px;"><i
                                    class="fa-paste fas fs-4"></i>&nbsp;
                                Create Batch
                            </a>
                            <div class="modal fade" role="dialog" tabindex="-1" id="add-batch-button">
                                <div class="modal-dialog modal-dialog-centered text-dark" role="document">
                                    <div class="modal-content">
                                        <form th:action="@{/admin/addBatch}" th:object="${batch}" method="post">
                                            <div class="modal-header" style="background: #f8f9fc;">
                                                <h4
                                                    style="color: rgb(75,75,75);font-family: 'Roboto', sans-serif;font-weight: bold;margin-top: 5px;margin-bottom: 2px;">
                                                    Create Batch
                                                </h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close">
                                                </button>
                                            </div>
                                            <div class="modal-body">

                                                <label for="">Course</label>
                                                <select th:field="*{batchCourse.id}" class="form-select mb-3"
                                                    aria-label="Default select example" required>
                                                    <span th:each="course : ${courseList}">
                                                        <option th:value="${course.id}">[[${course.name}]]</option>
                                                    </span>
                                                </select>

                                                <label for="">Batch Name</label>
                                                <input type="text" class="form-control mb-3" th:field="*{name}" required
                                                    placeholder="eg: Java Batch 01" />


                                                <label for="">Start Date</label>
                                                <input type="date" class="form-control mb-3" th:field="*{startDate}"
                                                    required />

                                                <label for="">End Date</label>
                                                <input type="date" class="form-control mb-3" th:field="*{endDate}"
                                                    required />

                                            </div>
                                            <div class="modal-footer" style="background: #f8f9fc;">
                                                <button class="btn btn-light" type="submit" data-bs-dismiss="modal"
                                                    style="margin-right: 13px;">
                                                    Cancel
                                                </button>
                                                <button class="btn btn-primary" type="submit">
                                                    Create
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow">
                        <!-- <div class="card-header py-3">
                            <form>
                                <div class="row">
                                    <div class="col-auto text-nowrap" style="width: 237.078px;margin-top: 4px;">
                                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                            <label class="form-label" style="color: rgb(77,77,77);"
                                                for="cours-name">Course<select
                                                    class="form-select d-inline-block form-select form-select-sm"
                                                    style="margin-left: 10px;width: 146.062px;" name="cours-name">
                                                    <option value="JAVA">JAVA</option>
                                                    <option value="PHP">PHP</option>
                                                    <option value="Programming Fundamental">Programming Fundamental
                                                    </option>
                                                    <option value="Andriod">Andriod</option>
                                                </select>&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 col-lg-3"><button class="btn btn-dark border rounded shadow-sm"
                                            type="submit">Search</button>
                                    </div>

                                </div>
                            </form>
                        </div> -->
                        <div class="card-body text-dark">

                            <!-- data table -->
                            <table id="dataTable">
                                <thead class="table">
                                    <tr>
                                        <th>Batch Id</th>
                                        <th>Batch Name</th>
                                        <th>Course</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="batch : ${batchList}">
                                        <td>[[${batch?.id}]]</td>
                                        <td>[[${batch?.name}]]</td>
                                        <td>[[${batch?.batchCourse.name}]]</td>
                                        <td>[[${batch?.startDate}]]</td>
                                        <td>[[${batch?.endDate}]]</td>
                                        <td>
                                            <a th:href="@{/admin/editBatch/} + ${batch?.id}" class="btn btn-primary">
                                                Edit
                                            </a>

                                            <a class="btn btn-outline-danger"
                                                th:attr="onclick=|handleDelete('${batch.id}')|">
                                                Remove
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2022</span></div>
                </div>
            </footer>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <div th:insert="/admin/admin-fragments :: footer" />
   
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });

        const handleDelete = (batchId) => {
            console.log(batchId);
            Swal.fire({
                title: 'Are you sure want to delete?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location = `http://localhost:8080/admin/deleteBatch/${batchId}`;
                }
            })
        }
    </script>
</body>

</html>