<!DOCTYPE html>
<html>

<head th:insert="/admin/admin-fragments :: admin_head">
    <title>Register Teacher</title>
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- this is where side bar is -->
        <div th:insert="/admin/admin-fragments :: sidebar" />

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <!-- this is where nav bar is -->
                <div th:insert="/admin/admin-fragments :: navbar" />

                <div class="container-fluid">
                    <h1 class="fs-3 mb-4 text-secondary"
                        style="font-size: 33px; color: rgb(72,72,72); font-weight: bold; font-family: 'Roboto', sans-serif;">
                        Teacher Table</h1>
                    <div
                        class="d-flex justify-content-end align-items-end justify-content-lg-end justify-content-xl-end align-items-xl-center">
                        <div><a class="btn btn-lg btn-primary pe-1 ps-1 bg-gradient shadow-sm"
                                style="width: 145.5px; font-size: 14px; height: 40px; margin-bottom: 11px; padding-top: 3px;"
                                role="button" th:href="@{/admin/teacherRegister}">
                                <i class="fa fa-user-plus fas fa-lg"
                                    style="padding-bottom: 7px; padding-top: 9px; font-size:18px"></i>&nbsp;
                                Add Teacher
                            </a>
                        </div>
                    </div>
                    <div class="card shadow-sm">
                        <!-- <div class="card-header py-3">
                            <form>
                                <div class="row">
                                    <div class="col-auto text-nowrap" style="width: 237.078px;margin-top: 4px;">
                                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                            <label class="form-label" style="color: rgb(77,77,77);"
                                                for="cours-name">Course<select
                                                    class="form-select d-inline-block form-select form-select-sm"
                                                    style="margin-left: 10px;width: 146.062px;" name="cours-name">
                                                    <option value="JAVA">JAVA</option>
                                                    <option value="PHP">PHP</option>
                                                    <option value="Programming Fundamental">Programming Fundamental
                                                    </option>
                                                    <option value="Andriod">Andriod</option>
                                                </select>&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto col-xxl-auto text-nowrap"
                                        style="margin-top: 4px;">
                                        <div id="dataTable_length-2" class="dataTables_length"
                                            aria-controls="dataTable"><label class="form-label"
                                                style="color: rgb(77,77,77);" for="batch-name">Batch<select
                                                    class="form-select d-inline-block form-select form-select-sm"
                                                    style="margin-left: 10px;width: 127.453px;" name="batch-name">
                                                    <option value="Batch001">Batch001</option>
                                                    <option value="Batch002">Batch002</option>
                                                    <option value="Batch003">Batch003</option>
                                                    <option value="Batch004">Batch004</option>
                                                </select>&nbsp;</label></div>
                                    </div>
                                    <div class="col-sm-5 col-lg-3"><button class="btn btn-dark border rounded shadow-sm"
                                            type="submit">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div> -->
                        <div class="card-body text-dark pt-4">
                            <table id="dataTable" class="display p-2">
                                <thead>
                                    <tr> 
                                        <th>Teacher Id</th>
                                        <th>Teacher Name</th>
                                        <th>Batch</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="teacher : ${teacherList}">
                                        <td>[[${teacher?.id}]]</td>
                                        <td>[[${teacher?.name}]]</td>
                                        <td>
                                            <span th:each="batch, loop : ${teacher.batchList}">
                                                [[${batch.name}]]<span th:if="${loop.index != loop.size-1}">,</span>
                                            </span>
                                        </td>
                                        <td class="d-flex d-lg-flex">
                                            <a th:href="@{'/admin/editTeacher/' + ${teacher.id} }"
                                                class="btn btn-primary me-2 bg-gradient">
                                                Edit
                                            </a>
                                            <a class="btn btn-danger btn bg-gradient" title="Remove"
                                                data-bs-placement="top" data-bs-toggle="tooltip"
                                                th:attr="onclick=|handleDelete('${teacher.id}')|">
                                                <i class="fa-trash-alt fas"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2022</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <div th:insert="/admin/admin-fragments :: footer" />

    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        });

        $(document).ready(function () {
            $('#dataTable').DataTable();
        });

        const handleDelete = (teacherId) => {
            console.log(teacherId);
            Swal.fire({
                title: 'Are you sure want to delete?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location = `http://localhost:8080/admin/deleteTeacher/${teacherId}`;
                }
            })
        }
    </script>
</body>

</html>