<!DOCTYPE html>
<html>

<head th:insert="/admin/admin-fragments :: admin_head">
    <title>Attendance Table</title>
</head>

<body id="page-top" style="font-family: 'Roboto', sans-serif;">
    <div id="wrapper">

        <!-- this is where side bar is -->
        <div th:insert="/admin/admin-fragments :: sidebar" />

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <!-- this is where nav bar is -->
                <div th:insert="/admin/admin-fragments :: navbar" />

                <div class="container-fluid">
                    <h1 class="fs-3 mb-3 text-secondary"
                        style="font-size: 33px; color: rgb(72,72,72); font-weight: bold; font-family: 'Roboto', sans-serif;">
                        Attendance Table</h1>
                    <div class="card shadow-sm text-dark">
                        <div class="card-header d-flex flex-wrap justify-content-between py-3">
                            <span>
                                <form method="post" th:object="${batch}" th:action="@{/admin/searchScheduleForBatch}"
                                    class="d-flex d-lg-flex flex-lg-wrap-reverse flex-nowrap flex-row">
                                    <div class="me-1">
                                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                            <label class="form-label fw-bold mb-1 h6 text-secondary">Choose One
                                                Batch</label>
                                            <select th:field="*{id}" class="form-select" style="width: 230px;"
                                                aria-label="Default select example">
                                                <option th:each="batch : ${batchList}" th:value="${batch?.id}">
                                                    [[${batch?.name}]]
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div style="margin-top: 1.6rem;">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </div>
                                </form>
                            </span>
                            <span style="margin-top: 1.0rem">
                                <a th:href="@{/teacher/modifyAttendance} "
                                    class="btn btn-primary  bg-gradient shadow-sm">
                                    <i class="fa-solid fa-user-clock me-2"></i>Create Attendance
                                </a>
                            </span>
                        </div>


                        <div class="card-body">

                            <!-- where I have to write table -->
                            <table id="dataTable" class="display p-2">
                                <thead class="table">
                                    <tr>
                                        <th>Student Name</th>
                                        <th th:each="date : ${dateList}">
                                            [[${date}]]
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="student : ${studentList}">
                                        <td>[[${student.name}]]</td>
                                        <td th:each="studentSchedule : ${student.userScheduleList}">
                                            <th:span th:switch="${studentSchedule.status}">
                                                <span th:case="'Present'" class="text-success fw-bold">
                                                    [[${studentSchedule.status}]]
                                                </span>
                                                <span th:case="'Absent'" class="text-danger fw-bold">
                                                    [[${studentSchedule.status}]]
                                                </span>
                                                <span th:case="'Leave'" class="text-warning fw-bold">
                                                    [[${studentSchedule.status}]]
                                                </span>
                                            </th:span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <footer class="pb-2 pt-2 small text-dark mt-5" data-pg-collapsed style="background-color: #dfdfdf;">
                <div class="container pb-2 pt-2">
                    <p class="mb-0 text-center" style="font-family: 'Roboto', sans-serif;">&copy; 2022. All Rights
                        Reserved - Ace Inspiration</p>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <div th:insert="/admin/admin-fragments :: footer" />

    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>

</body>

</html>