<!DOCTYPE html>
<html>

<head th:insert="/admin/admin-fragments :: admin_head">
    <title>Student Table</title>
</head>

<body id="page-top" style="font-family: 'Roboto', sans-serif;">
    <div id="wrapper">

        <!-- this is where side bar is -->
        <div th:insert="/admin/admin-fragments :: sidebar" />

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <!-- this is where nav bar is -->
                <div th:insert="/admin/admin-fragments :: navbar" />

                <div class="container-fluid">
                    <div class="d-flex justify-content-between mb-4">
                        <h1 class="fs-3 mb-4 text-secondary"
                        style="font-size: 33px; color: rgb(72,72,72); font-weight: bold;">
                        Student Table</h1>
                    </div>
                    
                    <div class="card shadow-sm">
                        <div
                        class="d-flex card-header justify-content-end align-items-end justify-content-lg-end justify-content-xl-end align-items-xl-center pt-3 bg-light">
                            <a class="btn btn-lg btn-primary pe-1 ps-1 bg-gradient shadow-sm"
                                style="width: 145.5px; font-size: 14px; height: 40px; margin-bottom: 11px; padding-top: 3px;"
                                role="button" th:href="@{/admin/studentRegister}">
                                <i class="fa-solid fa-user-plus me-1"
                                    style="padding-top: 7px; font-size:15px"></i>
                                Add Student
                            </a>
                    </div>
                        <!-- <div class="card-header py-3">
                            <form>
                                <div class="row">
                                    <div class="col-auto text-nowrap" style="width: 237.078px;margin-top: 4px;">
                                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                            <label class="form-label" style="color: rgb(77,77,77);"
                                                for="cours-name">Course<select
                                                    class="form-select d-inline-block form-select form-select-sm"
                                                    style="margin-left: 10px;width: 146.062px;" name="cours-name">
                                                    <option value="JAVA">JAVA</option>
                                                    <option value="PHP">PHP</option>
                                                    <option value="Programming Fundamental">Programming Fundamental
                                                    </option>
                                                    <option value="Andriod">Andriod</option>
                                                </select>&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="col-auto col-sm-auto col-md-auto col-lg-auto col-xl-auto col-xxl-auto text-nowrap"
                                        style="margin-top: 4px;">
                                        <div id="dataTable_length-2" class="dataTables_length"
                                            aria-controls="dataTable"><label class="form-label"
                                                style="color: rgb(77,77,77);" for="batch-name">Batch<select
                                                    class="form-select d-inline-block form-select form-select-sm"
                                                    style="margin-left: 10px;width: 127.453px;" name="batch-name">
                                                    <option selected disabled>Choose One Batch</option>
                                                    <option value="1">Java Web Batch 01</option>
                                                    <option value="2">OJT Batch 01</option>
                                                    <option value="3">PHP Batch 01</option>
                                                </select>&nbsp;</label></div>
                                    </div>
                                    <div class="col-sm-5 col-lg-3"><button class="btn btn-dark border rounded shadow-sm"
                                            type="submit">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div> -->
                        <div class="card-body text-dark pt-4">

                            <!-- where I have to write table -->
                            <table id="dataTable" class="display p-2">
                                <thead class="table">
                                    <tr>
                                        <th>Student Id</th>
                                        <th>Student Name</th>
                                        <th>Batch</th>
                                        <th>Attendance</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="student : ${studentList}">
                                        <td>[[${student?.id}]]</td>
                                        <td>[[${student?.name}]]</td>
                                        <td th:each="batch : ${student.batchList}">
                                            [[${batch.name}]]
                                        </td>
                                        <td>
                                            <span th:if="${student?.attendancePercentage >= 75}" class="text-success fw-bold">
                                                [[${student?.attendancePercentage}]] %
                                            </span>
                                            <span th:if="${student?.attendancePercentage < 75}" class="text-danger fw-bold">
                                                [[${student?.attendancePercentage}]] %
                                            </span>
                                        </td>
                                        <td>
                                            <a title="Edit" data-bs-placement="top"
                                            data-bs-toggle="tooltip" th:href="@{/admin/editStudent/} + ${student?.id}"
                                                class="btn btn-outline-primary me-1">
                                                <i class="fa-solid fa-pen-to-square "></i>
                                            </a>
                                            <a class="btn btn-outline-danger btn bg-gradient" title="Remove"
                                                data-bs-placement="top" data-bs-toggle="tooltip"
                                                th:attr="onclick=|handleDelete('${student.id}')|">
                                                <i class="fa-solid fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <footer class="pb-2 pt-2 small text-dark mt-5" data-pg-collapsed style="background-color: #dfdfdf;">
                <div class="container pb-2 pt-2">
                    <p class="mb-0 text-center">&copy; 2022. All Rights
                        Reserved - Ace Inspiration</p>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <div th:insert="/admin/admin-fragments :: footer" />

    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        });

        $(document).ready(function () {
            $('#dataTable').DataTable();
        });

        const handleDelete = (studentId) => {
            Swal.fire({
                title: 'Are you sure want to delete?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location = `http://localhost:8080/admin/deleteStudent/${studentId}`;
                }
            })
        }
    </script>
</body>

</html>