<!DOCTYPE html>
<html>

<head th:insert="/admin/admin-fragments :: admin_head">
    <title>Course Table</title>
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- this is where side bar is -->
        <div th:insert="/admin/admin-fragments :: sidebar" />

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <!-- this is where nav bar is -->
                <div th:insert="/admin/admin-fragments :: navbar" />

                <div class="container-fluid">
                    <div>
                        <h1 class="text-start"
                            style="margin-bottom: 42px;font-size: 33px;color: rgb(72,72,72);font-weight: bold;font-family: 'Anek Kannada', sans-serif;">
                            Course Table
                        </h1>
                    </div>

                    

                    <div
                        class="d-flex justify-content-end align-items-end justify-content-lg-end justify-content-xl-end align-items-xl-center">
                        <div>
                            <a class="btn btn-primary btn-lg" role="button" href="#add-course-button"
                                data-bs-toggle="modal"
                                style="width: 176.1px;font-size: 16px;height: 44px;margin-bottom: 12px;">
                                <i class="fa-photo-video fas fs-5"></i>
                                Create Course
                            </a>
                            <div class="modal fade" role="dialog" tabindex="-1" id="add-course-button">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <form th:action="@{/admin/addCourse}" th:object="${course}" method="post"
                                            enctype="multipart/form-data">
                                            <div class="modal-header" style="background: #f8f9fc;">
                                                <h4
                                                    style="color: rgb(75,75,75);font-family: 'Anek Bangla', sans-serif;font-weight: bold;margin-top: 5px;margin-bottom: 2px;">
                                                    Create Course
                                                </h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close">
                                                </button>
                                            </div>
                                            <div class="modal-body">

                                                <label for="">Cousre Name</label>
                                                <input type="text" class="form-control" th:field="*{name}" required
                                                    maxlength="100" minlength="1">

                                                <label for="">Fee</label>
                                                <input type="number" class="form-control" th:field="*{fee}" required
                                                    maxlength="20">

                                                <label for="">Description</label>
                                                <input type="text" class="form-control" th:field="*{description}"
                                                    required maxlength="1000">

                                                <label for="">Video</label>
                                                <input type="file" class="form-control" multiple th:field="*{videos}"
                                                    accept="video/*" required>

                                                <label for="">Resource</label>
                                                <input type="file" class="form-control" multiple th:field="*{resources}"
                                                    accept=".pdf, .pptx, .xlsx," required>

                                            </div>
                                            <div class="modal-footer" style="background: #f8f9fc;">
                                                <button class="btn btn-light" data-bs-dismiss="modal"
                                                    style="margin-right: 13px;">Cancel</button>
                                                <button class="btn btn-primary" type="submit">
                                                    Create
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow text-dark">
                        <h2 class="text-danger text-center">[[${msg}]]</h2>
                        <div class="card-body">
                            <table id="dataTable">
                                <thead class="table">
                                    <tr>
                                        <th>Course Id</th>
                                        <th>Course Name</th>
                                        <th>Fee</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="course : ${courseList}">
                                        <td>[[${course?.id}]]</td>
                                        <td>[[${course?.name}]]</td>
                                        <td>[[${course?.fee}]]</td>
                                        <td>[[${course?.description}]]</td>
                                        <td>
                                            <!-- <a th:href="@{'/admin/deleteCourse/' + ${course?.id} + '/' + ${course?.name}}"
                                                class="btn btn-outline-danger">
                                                Remove
                                            </a> -->

                                            <!-- my modal -->
                    <div class="modal fade" role="dialog" tabindex="-1" th:attr="id='edit-course-button' + ${course.id}">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <form th:action="@{/admin/editCourse}" method="post"
                                    >
                                    <div class="modal-header" style="background: #f8f9fc;">
                                        <h4
                                            style="color: rgb(75,75,75);font-family: 'Anek Bangla', sans-serif;font-weight: bold;margin-top: 5px;margin-bottom: 2px;">
                                            Edit Course
                                        </h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close">
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="hidden" name="id" th:value="${course?.id}">
                                        <label for="">Cousre Name</label>
                                        <input type="text" name="name" class="form-control"  required
                                            maxlength="100" minlength="1" th:value="${course?.name}">

                                        <label for="">Fee</label>
                                        <input type="number" name="fee" class="form-control"  th:value="${course?.fee}" required
                                            maxlength="20">

                                        <label for="">Description</label>
                                        <input type="text" name="desc" class="form-control"  th:value="${course?.description}"
                                            required maxlength="1000">

                                    </div>
                                    <div class="modal-footer" style="background: #f8f9fc;">
                                        <button class="btn btn-light" data-bs-dismiss="modal"
                                            style="margin-right: 13px;">Cancel</button>
                                        <button class="btn btn-primary" type="submit">
                                            Update
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                                            <a class="btn btn-outline-primary"
                                                th:attr="href='#edit-course-button' + ${course.id}" data-bs-toggle="modal"
                                                >
                                                Edit Course
                                            </a>

                                            
                                            <a class="btn btn-outline-primary"
                                                th:href="@{'/admin/editVideo/' + ${course?.id} }">
                                                Edit Video
                                            </a>
                                            <a class="btn btn-outline-primary"
                                                th:href="@{'/admin/editResource/' + ${course?.id} }">
                                                Edit Resource
                                            </a>

                                            <a class="btn btn-outline-danger"
                                                th:attr="onclick=|handleDelete('${course.id}' + '/' + '${course.name}')|">
                                                Remove
                                            </a>

                                            <!-- <a class="btn btn-outline-danger"
                                        th:attr="onclick=|handleDelete('${teacher.id}')|">
                                        Remove
                                    </a> -->
                                        </td>
                                    </tr>
                                </tbody>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>

    <div th:insert="/admin/admin-fragments :: footer" />

    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });

        const handleDelete = (courseId) => {
            console.log(courseId);
            Swal.fire({
                title: 'Are you sure want to delete?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location = `http://localhost:8080/admin/deleteCourse/${courseId}`;
                }
            })
        }
    </script>

</body>

</html>