<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/assets/css/loading.css">
</head>

<body>

    <div id="app">

        <div v-show="isLoading" class="loader-container">
            <div class="spinner"></div>
        </div>

        <div class="main-content">
            <h1>Hello World!</h1>
            <p>
                This is a demo Project to show how to add animated loading with Vanilla
                JavaScript.
            </p>
            <div class="buttons">
                <button @click="generateQuote()" class="btn get-quote">Generate Quote</button>
            </div>
            <div>
                <blockquote>
                    {{ content }} 
                </blockquote>
                <span v-show="author"> - {{  author }} </span>
            </div>
        </div>
    </div>


    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- vue3 -->
    <script src="https://unpkg.com/vue@3"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    content: '',
                    author: '',
                    isLoading: false
                }
            },
            methods: {
                generateQuote() {
                    this.isLoading = true;
                    axios
                        .get('https://api.quotable.io/random')
                        .then(res => {
                           this.content = res.data.content;
                           this.author = res.data.author; 
                        }) 
                        .then(() => this.isLoading = false)
                        .catch(error => console.log(error));
                }
            },
            mounted() {
            },
        });

        app.mount('#app');
    </script>


    <!-- <script>
        window.addEventListener('load', () => {
            loaderContainer.classList.add('loader-container-hidden');
        });

        window.addEventListener('load', () => {
            loaderContainer.parentElement.removeChild(loaderContainer);
        });
        const getQuoteBtn = document.querySelector('.get-quote');
        const displayLoading = () => {
            loaderContainer.style.display = 'block';
        };

        const hideLoading = () => {
            loaderContainer.style.display = 'none';
        };
        getQuoteBtn.addEventListener('click', () => {
            displayLoading();
            fetch('https://api.quotable.io/random')
                .then((response) => {
                    return response.json();
                })
                .then((data) => {
                    hideLoading();
                    const quote = document.querySelector('.quote');
                    const author = document.querySelector('.author');
                    quote.innerHTML = data.content;
                    author.innerHTML = data.author;
                });
        });


    </script> -->

</body>

</html>