<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
  <form th:action="@{/admin/register}" method="post">
    <input type="text" name="id"><br>
    <input type="text" name="name"><br>
    <input type="text" name="password">
    <input type="submit" name="submit">
  </form>  
</body>
</html>