<!DOCTYPE html>
<html>

<head th:insert="/teacher/teacher-fragments :: teacher_head">
    <title>Attendance Table</title>
</head>


<body>
    <div id="wrapper" style="font-family: 'Roboto', sans-serif;">
        <!-- this is where side bar is -->
        <div th:insert="/teacher/teacher-fragments :: sidebar" />

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <!-- this is where nav bar is -->
                <div th:insert="/teacher/teacher-fragments :: navbar" />
                <input type="hidden" th:value="${session?.uid}" id="teacherId">

                <div class="container-fluid">
                    <h1 class="fs-3 mb-3 text-secondary"
                        style="font-size: 33px; color: rgb(72,72,72); font-weight: bold;">
                        Attendance Table</h1>
                    <div class="card shadow-sm text-dark">
                        <div class="card-header d-flex flex-wrap justify-content-between py-3">
                            <span>
                                <form method="post" th:object="${batch}" th:action="@{/teacher/searchScheduleForBatch}"
                                    class="d-flex d-lg-flex flex-lg-wrap flex-wrap">
                                    <div class="me-1">
                                        <div class="col-auto text-nowrap" style="width: 237.078px;margin-top: 4px;">
                                            <div id="dataTable_length" class="dataTables_length"
                                                aria-controls="dataTable">
                                                <label class="form-label text-dark fw-bold mb-1 h6">Choose the
                                                    Batch<span class="text-danger ms-1">*</span></label>
                                                <select th:field="*{id}" class="form-select"
                                                    aria-label="Default select example">
                                                    <option th:each="batch : ${batchList}" th:value="${batch?.id}">
                                                        [[${batch?.name}]]
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-top: 1.8rem;">
                                        <button type="submit" class="btn btn-primary">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </div>
                                </form>
                            </span>
                            <span style="margin-top: 1.0rem">
                                <a th:href="@{/teacher/modifyAttendance} "
                                    class="btn btn-primary  bg-gradient shadow-sm">
                                    <i class="fa-solid fa-user-clock me-2"></i>Create Attendance
                                </a>
                            </span>
                        </div>


                        <div class="card-body">
                            <!-- where I have to write table -->
                            <table id="dataTable" class="display" style="width:100%">
                                <thead>
                                    <tr>
                                        <th class="text-nowrap">Student Name</th>
                                        <th class="text-nowrap" th:each="date : ${dateList}">
                                            [[${date}]]
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="student : ${studentList}">
                                        <td>[[${student.name}]]</td>
                                        <td th:each="studentSchedule : ${student.userScheduleList}">
                                            <th:span th:switch="${studentSchedule.status}">
                                                <span th:case="'Present'" class="fw-bold"
                                                    style="color: rgb(1, 100, 5);">
                                                    [[${studentSchedule.status}]]
                                                </span>
                                                <span th:case="'Absent'" class="text-danger fw-bold">
                                                    [[${studentSchedule.status}]]
                                                </span>
                                                <span th:case="'Leave'" class="fw-bold" style="color: #d3a200;">
                                                    [[${studentSchedule.status}]]
                                                </span>
                                            </th:span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="pb-2 pt-2 small text-dark" data-pg-collapsed style="background-color: #dfdfdf;">
                <div class="container pb-2 pt-2">
                    <p class="mb-0 text-center">&copy; 2022. All Rights
                        Reserved - Ace Inspiration</p>
                </div>
            </footer>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <div th:insert="/teacher/teacher-fragments :: footer" />

    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable({
                scrollX: true
            });
        });
    </script>

</body>

</html>