<!DOCTYPE html>
<html>

<head th:insert="/teacher/teacher-fragments :: teacher_head">
    <title>Assignment Table</title>
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- this is where side bar is -->
        <div th:insert="/teacher/teacher-fragments :: sidebar" />

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <!-- this is where nav bar is -->
                <div th:insert="/teacher/teacher-fragments :: navbar" />
                <input type="hidden" th:value="${session?.uid}" id="teacherId" />

                <div class="container-fluid">
                    <h1 class="fs-3 mb-4 text-start" style="
                margin-bottom: 42px;
                font-size: 33px;
                color: rgb(72, 72, 72);
                font-weight: bold;
                font-family: 'Roboto', sans-serif;
              ">
                        Assignment Table
                    </h1>
                    <div
                        class="d-flex justify-content-end align-items-end justify-content-lg-end justify-content-xl-end align-items-xl-center">
                        <div>
                            <a class="btn btn-primary m-2" role="button" href="#create-assignment-button"
                                data-bs-toggle="modal"><i class="fa-clipboard-list fas fs-4"></i>&nbsp; &nbsp;
                                Create Assignment
                            </a>
                            <div class="modal fade" role="dialog" tabindex="-1" id="create-assignment-button">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <form th:action="@{/teacher/createAssignment}" th:object="${assignment}"
                                            method="post" enctype="multipart/form-data">
                                            <div class="modal-header" style="background: #f8f9fc">
                                                <h4 style="
                                                color: rgb(75, 75, 75);
                                                font-family: 'Anek Bangla', sans-serif;
                                                font-weight: bold;
                                                margin-top: 5px;
                                                margin-bottom: 2px;">
                                                    Create Assignment
                                                </h4>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close">
                                                </button>
                                            </div>
                                            <div class="modal-body text-dark">
                                                <label for="" class="mb-auto">Assignment Name</label>
                                                <input type="text" th:field="*{name}"
                                                    class="border border-secondary form-control mb-3" />

                                                <label for="" class="mb-auto">Batch</label>
                                                <select th:field="*{assignmentBatch}" class="form-select mb-3"
                                                    aria-label="Default select example" required>
                                                    <span th:each="batch : ${batchList}">
                                                        <option th:value="${batch.id}">
                                                            [[${batch.name}]]
                                                        </option>
                                                    </span>
                                                </select>

                                                <label class="form-label mb-auto">Start Time</label>
                                                <input type="datetime-local" th:field="*{startTime}"
                                                    class="border border-secondary form-control mb-3" />

                                                <label class="form-label mb-auto">End Time</label>
                                                <input type="datetime-local" th:field="*{endTime}"
                                                    class="border border-secondary form-control mb-3" />

                                                <label for="" class="mb-auto">File</label>
                                                <input type="file" class="border border-secondary form-control mb-3"
                                                    th:field="*{questionFile}"/>

                                            </div>
                                            <div class="modal-footer" style="background: #f8f9fc">
                                                <button class="btn btn-light" data-bs-dismiss="modal"
                                                    style="margin-right: 13px">
                                                    Cancel</button><button class="btn btn-primary" type="submit">
                                                    Create
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card shadow">

                        <div class="card-body text-dark">
                            <table id="dataTable">
                                <thead>
                                    <tr>
                                        <th>Assignment Id</th>
                                        <th>Assignment Name</th>
                                        <th>Batch</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="assignment:${assignmentList}">
                                        <td>[[${assignment?.id}]]</td>
                                        <td>[[${assignment?.name}]]</td>
                                        <td>[[${assignment?.assignmentBatch.name}]]</td>
                                        <td>
                                            <a th:href="@{/teacher/checkAssignment/} + ${assignment?.id}"
                                                class="text-decoration-none">
                                                <button class="btn btn-primary">Check</button>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2022</span></div>
                </div>
            </footer>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <div th:insert="/teacher/teacher-fragments :: footer" />

    <!-- datatable-js -->
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#dataTable").DataTable();
        });
    </script>
</body>

</html>