<!DOCTYPE html>
<html>

<head th:insert="/teacher/teacher-fragments :: teacher_head">
  <title>Assignment Details</title>
</head>


<body id="page-top">
  <div id="wrapper">
    <!-- this is where side bar is -->
    <div th:insert="/teacher/teacher-fragments :: sidebar" />

    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        <!-- this is where nav bar is -->
        <div th:insert="/teacher/teacher-fragments :: navbar" />
        <input type="hidden" th:value="${session?.uid}" id="teacherId" />

        <div class="container-fluid">
          <h1 class="fs-3 mb-3 text-secondary"
                        style="font-size: 33px; color: rgb(72,72,72); font-weight: bold; font-family: 'Roboto', sans-serif;">
                        [[${assignmentName}]]</h1>
          <div class="gx-3 row">

            <div class="col-lg-4 col-md-6 col-sm-12 col-xl-3" th:each="answer : ${answerList}">
              <div class="card shadow-sm">
                <div class="card-body">
                  <div th:if="${answer?.isGraded}" class="dropdown float-end">
                    <i class="fa fa-check-square-o" style="color: #02aa19; font-size: 17px;" data-bs-toggle="tooltip"
                      title="Graded" data-bs-placement="top" data-bs-trigger="hover"></i>
                  </div>
                  <div class="align-items-center d-flex flex-column">
                    <div class="mb-2">
                      <img th:src="@{${'/profile_pics/' + answer?.answerStudent?.profile_pic } }" alt=""
                        class=" rounded-circle" style="width: 45px; height: 45px;" />
                    </div>
                    <div class="align-items-center d-flex flex-column justify-content-center text-center">
                      <h5 class="font-size-16 mb-0">
                        <p class=" text-dark mb-2" style="font-family: 'Roboto', sans-serif;">
                          [[${answer?.answerStudent?.name}]]
                        </p>
                      </h5>
                      <span th:if="${answer?.isLate == null}"
                        class="badge badge-soft-success fw-bold justify-content-between mb-0">
                        Done
                      </span>
                      <span th:if="${answer?.isLate}"
                        class="badge badge-soft-danger fw-bold justify-content-between mb-0">
                        Turned in late
                      </span>
                    </div>
                  </div>
                  <form th:action="@{/teacher/giveAssignmentResult}" method="post" th:object="${result}">
                    <div class="mt-2 pt-1">
                      <input type="hidden" th:value="${answer?.id}" id="assignmentResultAnswer"
                        name="assignmentResultAnswer">
                      <input type="hidden" th:value="${session?.uid}" id="assignmentResultTeacher"
                        name="assignmentResultTeacher">
                      <textarea class="form-control mb-2" rows="2" placeholder="Comment" maxlength="900" required
                        th:field="*{comment}"></textarea>
                      <input type="number" class="form-control mb-2" placeholder="Mark" th:field="*{mark}" required />
                    </div>
                    <div class="d-flex gap-1 pt-2">
                      <a th:href="@{ ${'/courses/' + answer?.assignment?.assignmentBatch?.batchCourse?.name + '/' + answer?.assignment?.assignmentBatch?.id + '/' + 'AssignmentAnswer' + '/' + answer?.answerFileName } }"
                        class="btn btn-sm pe-0 ps-0 w-50" style="background-color: #198754; color: rgb(255, 255, 255);"
                        data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top"
                        title="Download the student's uploaded assignment files">
                        <i class="bx bx-user fa fa-download me-1"></i>
                        Download
                      </a>
                      <button type="submit" class="btn btn-primary btn-sm pe-0 ps-0 w-50">
                        <i class="bx bx-user fa fa-location-arrow me-1"></i>
                        Send
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <!-- <div class="col-lg-4 col-md-6 col-sm-12 col-xl-3">
              <div class="card">
                <div class="card-body">
                  <div class="align-items-center d-flex flex-column">
                    <div class="mb-2">
                      <img src="../assets/img/zzs_profile.jpg" alt="" class="avatar-md img-thumbnail rounded-circle"
                        style="width: 50px; height: 50px;" />
                    </div>
                    <div class="align-items-center d-flex flex-column justify-content-center">
                      <h5 class="font-size-16 mb-1"><a href="#" class=" text-dark"
                          style="font-family: 'Roboto', sans-serif;">Sitt Thiha Naing</a></h5> <span
                        class="badge badge-soft-danger fw-bold justify-content-between mb-0">Turned In Late</span>
                    </div>
                  </div>
                  <form>
                    <div class="mt-2 pt-1">
                      <textarea class="form-control mb-2" id="formInput6" rows="2" placeholder="Comment"></textarea>
                      <input type="number" class="form-control mb-2" placeholder="Mark" aria-label="Username"
                        aria-describedby="basic-addon1" />
                    </div>
                    <div class="d-flex gap-1 pt-2">
                      <button type="button" class="btn btn-sm btn-soft-primary btn-success pe-0 ps-0 w-50"
                        data-bs-toggle="tooltip" data-bs-trigger="hover" data-bs-placement="top"
                        title="Download the student's uploaded assignment files"><i
                          class="bx bx-user fa fa-download me-1"></i> Download
                      </button>
                      <button type="button" class="btn btn-primary btn-sm pe-0 ps-0 w-50">
                        <i class="bx bx-user fa fa-location-arrow me-1"></i> Send
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div> -->

          </div>
        </div>


      </div>
      <footer class="pb-2 pt-2 small text-dark" data-pg-collapsed style="background-color: #dfdfdf;">
        <div class="container pb-2 pt-2">
            <p class="mb-0 text-center" style="font-family: 'Roboto', sans-serif;">&copy; 2022. All Rights Reserved - Ace Inspiration</p>
        </div>
    </footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
  </div>
  <div th:insert="/teacher/teacher-fragments :: footer" />

  <style type="text/css">
    .card {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid #eff0f2;
      border-radius: 1rem;
    }

    .badge-soft-danger {
      color: #cf1919 !important;
      background-color: rgba(245, 110, 110, 0.226);
    }

    .badge-soft-success {
      color: #17972d !important;
      background-color: rgba(85, 185, 102, 0.253);
    }
  </style>

  <!-- For Tooltip -->
  <script>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
  </script>

</body>

</html>