<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Table - Brand</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Alatsi&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Anek+Bangla&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Anek+Kannada&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Average+Sans&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=EB+Garamond&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Inria+Sans&amp;display=swap"
    />
    <link rel="stylesheet" href="../assets/fonts/fontawesome-all.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"
    />
    <!-- datatable-css -->
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
    />
  </head>

  <body id="page-top">
    <div id="wrapper">
      <!-- this is where side bar is -->
      <div th:insert="/teacher/teacher-fragments :: sidebar" />

      <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
          <!-- this is where nav bar is -->
          <div th:insert="/teacher/teacher-fragments :: navbar" />
          <input type="hidden" th:value="${session?.uid}" id="teacherId" />

          <div class="container-fluid">
            <h1
              class="fs-3 mb-4 text-start"
              style="
                margin-bottom: 42px;
                font-size: 33px;
                color: rgb(72, 72, 72);
                font-weight: bold;
                font-family: 'Roboto', sans-serif;
              "
            >
              Assignment Table
            </h1>
            <div
              class="d-flex justify-content-end align-items-end justify-content-lg-end justify-content-xl-end align-items-xl-center"
            >
              <div>
                <a
                  class="btn btn-primary m-2"
                  role="button"
                  href="#add-exam-button"
                  data-bs-toggle="modal"
                  ><i class="fa-clipboard-list fas fs-4"></i>&nbsp; &nbsp;
                  Create Assignment
                </a>
                <div
                  class="modal fade"
                  role="dialog"
                  tabindex="-1"
                  id="add-exam-button"
                >
                  <div
                    class="modal-dialog modal-dialog-centered"
                    role="document"
                  >
                    <div class="modal-content">
                      <form th:action="@{/teacher/createAssignment}" th:object="${assignment}" method="post">
                        <div class="modal-header" style="background: #f8f9fc">
                          <h4
                            style="
                              color: rgb(75, 75, 75);
                              font-family: 'Anek Bangla', sans-serif;
                              font-weight: bold;
                              margin-top: 5px;
                              margin-bottom: 2px;
                            "
                          >
                            Create Assignment
                          </h4>
                          <button
                            type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                          ></button>
                        </div>
                        <div class="modal-body text-dark">
                          <label for="" class="mb-auto">Assignment Name</label>
                          <input
                            type="text"
                            class="border border-secondary form-control mb-3"
                            value=""
                          />

                          <label for="" class="mb-auto">Batch</label>
                          <select
                            
                            class="form-select mb-3"
                            aria-label="Default select example"
                            required
                          >
                            <span th:each="batch : ${batchList}">
                              <option th:value="${batch.id}">
                                [[${batch.name}]]
                              </option>
                            </span>
                          </select>

                          <label class="form-label mb-auto">Schedule</label>
                          <input
                            type="datetime-local"
                            class="border border-secondary form-control mb-3"
                          />

                          <label class="form-label mb-auto">Due Date</label>
                          <input
                            type="datetime-local"
                            class="border border-secondary form-control mb-3"
                          />

                          <label for="" class="mb-auto">File</label>
                          <input
                            type="file"
                            class="border border-secondary form-control mb-3"
                            value=""
                            multiple
                          />
                        </div>
                        <div class="modal-footer" style="background: #f8f9fc">
                          <button
                            class="btn btn-light"
                            type="submit"
                            data-bs-dismiss="modal"
                            style="margin-right: 13px"
                          >
                            Cancel</button
                          ><button class="btn btn-primary" type="submit">
                            Create
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card shadow">
              <!-- <div class="card-header py-3">
                            <form>
                                <div class="row">
                                    <div class="col-auto text-nowrap" style="width: 237.078px;margin-top: 4px;">
                                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                            <label class="form-label" style="color: rgb(77,77,77);"
                                                for="cours-name">Batch<select
                                                    class="form-select d-inline-block form-select form-select-sm"
                                                    style="margin-left: 10px;width: 146.062px;" name="cours-name">
                                                    <option value="Java Web Batch-01">Java Web Batch-01</option>
                                                    <option value="PHP Batch-02">PHP Batch-02</option>
                                                    <option value="Programming Fundamental Batch-04">Programming
                                                        Fundamental Batch-04
                                                    </option>
                                                </select>&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-5 col-lg-3"><button class="btn btn-dark border rounded shadow-sm"
                                            type="submit">Search</button></div>

                                </div>
                            </form>
                        </div> -->
              <div class="card-body text-dark">
                <!-- this is where to write datatable -->
                <table id="dataTable">
                  <thead>
                    <tr>
                      <th>Assignment Id</th>
                      <th>Assignment Name</th>
                      <th>Batch</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>001</td>
                      <td>OOP Assignment</td>
                      <td>Java Web Batch-01</td>
                      <td>
                        <a
                          href="assignment-detail.html"
                          class="text-decoration-none"
                        >
                          <button class="btn btn-primary">Check</button>
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="border rounded d-inline scroll-to-top" href="#page-top"
        ><i class="fas fa-angle-up"></i
      ></a>
    </div>
    <div th:insert="/teacher/teacher-fragments :: footer" />

    <!-- datatable-js -->
    <script
      type="text/javascript"
      src="https://cdn.datatables.net/v/dt/dt-1.12.1/datatables.min.js"
    ></script>
    <script>
      $(document).ready(function () {
        $("#dataTable").DataTable();
      });
    </script>
  </body>
</html>
