<!DOCTYPE html>
<html>

<head th:insert="/teacher/teacher-fragments :: teacher_head">
    <title>Modify Attendance</title>
</head>


<body>
    <div id="wrapper">
        <!-- this is where side bar is -->
        <div th:insert="/teacher/teacher-fragments :: sidebar" />

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="app">
                <!-- this is where nav bar is -->
                <div th:insert="/teacher/teacher-fragments :: navbar" />
                <input type="hidden" th:value="${session?.uid}" id="teacherId">
                <div class="container-fluid">
                    <h1 class="fs-3 mb-4 text-start"
                        style="margin-bottom: 42px;font-size: 33px;color: rgb(72,72,72);font-weight: bold;font-family: 'Roboto', sans-serif;">
                        Modify Attendance</h1>
                    <div class="card shadow text-dark">
                        <div class="card-header d-flex d-lg-flex flex-lg-wrap flex-wrap py-3">
                            <form>
                                <div class="me-3">
                                    <div class="col-auto text-nowrap" style="width: 237.078px;margin-top: 4px;">
                                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                            <label for="exampleInputEmail1" class="form-label">Date</label>
                                            <input type="date" class="form-control" v-model="date" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form>
                                <div class="">
                                    <div class="col-auto text-nowrap" style="width: 237.078px;margin-top: 4px;">
                                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                            <label class="form-label">Batch</label>
                                            <select v-model="batchId" class="form-select"
                                                aria-label="Default select example">
                                                <option disabled>Choose One Batch</option>
                                                <span th:each="batch : ${batchList}">
                                                    <option th:value="${batch?.id}">[[${batch?.name}]]</option>
                                                </span>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="card-body text-dark">

                            <!-- where I have to write table -->
                            <table id="dataTable"  class="display p-2">
                                <thead class="table">
                                    <tr>
                                        <th>Student Id</th>
                                        <th>Student Name</th>
                                        <th>Batch</th>
                                        <th>Attendance Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(student, index) in studentList" :key="student.id">
                                        <td>
                                            {{ student.id }}
                                            <input v-model="student.id" readonly type="hidden" style="border: 0">
                                        </td>
                                        <td>
                                            {{student.name}}
                                            <input v-model="student.name" readonly type="hidden" style="border: 0">
                                        </td>
                                        </td>
                                        <td v-for="(batch, index) in student.batchList" :key="batch.id">
                                            {{batch.name}}
                                            <input v-model="batch.name" readonly type="hidden" style="border: 0">
                                        </td>
                                        <td class="d-flex justify-content-start">
                                            <div class="form-check me-2">
                                                <input class="form-check-input" type="radio" :name="student.id"
                                                   v-model="student.status" value="Present" checked />
                                                <label class="form-check-label" :for="student.id">
                                                    Present
                                                </label>
                                            </div>
                                            <div class="form-check me-2">
                                                <input class="form-check-input" type="radio" :name="student.id"
                                                v-model="student.status" value="Absent"
                                                 />
                                                <label class="form-check-label" :for="student.id">
                                                    Absent
                                                </label>
                                            </div>
                                            <div class="form-check me-2">
                                                <input class="form-check-input" type="radio" :name="student.id"
                                                    v-model="student.status" value="Leave" 
                                                />
                                                <label class="form-check-label" :for="student.id">
                                                    Leave
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <button @click.prevent="handleSubmit()" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <div th:insert="/teacher/teacher-fragments :: footer" />

    <script src="/assets/js/modifyAttendance.js"></script>
</body>

</html>