<!DOCTYPE html>
<html>

<head th:insert="/teacher/teacher-fragments :: teacher_head">
    <title>Attendance Table</title>
</head>


<body>
    <div id="wrapper">
        <!-- this is where side bar is -->
        <div th:insert="/teacher/teacher-fragments :: sidebar" />

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="app">
                <!-- this is where nav bar is -->
                <div th:insert="/teacher/teacher-fragments :: navbar" />
                <input type="hidden" th:value="${session?.uid}" id="teacherId">

                <div class="container-fluid">
                    <h1 class="fs-3 mb-4 text-start"
                        style="margin-bottom: 42px;font-size: 33px;color: rgb(72,72,72);font-weight: bold;font-family: 'Roboto', sans-serif;">
                        Attendance Table</h1>
                    <div class="card shadow text-dark">
                        <div class="card-header py-3 d-flex justify-content-between">
                            <span>
                                <form th:action="@{/teacher/searchUserScheduleList}" th:object="${data}" method="post"
                                    class="d-flex d-lg-flex flex-lg-wrap flex-wrap">
                                    <div class="me-3">
                                        <div class="col-auto text-nowrap" style="width: 237.078px;margin-top: 4px;">
                                            <div id="dataTable_length" class="dataTables_length"
                                                aria-controls="dataTable">
                                                <label for="exampleInputEmail1" class="form-label">Date</label>
                                                <input th:field="*{date}" type="date" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="me-3">
                                        <div class="col-auto text-nowrap" style="width: 237.078px;margin-top: 4px;">
                                            <div id="dataTable_length" class="dataTables_length"
                                                aria-controls="dataTable">
                                                <label class="form-label">Batch</label>
                                                <select th:field="*{user.batchList}" class="form-select"
                                                    aria-label="Default select example">
                                                    <option th:each="batch : ${batchList}" th:value="${batch?.id}">
                                                        [[${batch?.name}]]
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-top: 2.2rem;">
                                        <button class="btn btn-primary">Search</button>
                                    </div>
                                </form>
                            </span>
                            <span style="margin-top: 2.3rem">
                                <a th:href="@{/teacher/modifyAttendance}" class="btn btn-primary">
                                    Create
                                </a>
                            </span>
                        </div>


                        <div class="card-body">

                            <!-- where I have to write table -->
                            <table id="dataTable" class="display p-2">
                                <thead class="table">
                                    <tr>
                                        <th>Student Id</th>
                                        <th>Student Name</th>
                                        <th>Batch</th>
                                        <th>Date</th>
                                        <th>Attendance Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="us : ${userScheduleList}">
                                        <td>[[${us.user.id}]]</td>
                                        <td>[[${us.user.name}]]</td>
                                        <td th:each="batch : ${us.user.batchList}">
                                            [[${batch.name}]]
                                        </td>
                                        <td>[[${us.schedule.date}]]</td>
                                        <td>
                                            <th:span th:switch="${us.status}">
                                                <span th:case="'Present'" class="text-success fw-bold">
                                                    [[${us.status}]]
                                                </span>
                                                <span th:case="'Absent'" class="text-danger fw-bold">
                                                    [[${us.status}]]
                                                </span>
                                                <span th:case="'Leave'" class="text-warning fw-bold">
                                                    [[${us.status}]]
                                                </span>
                                            </th:span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <div th:insert="/teacher/teacher-fragments :: footer" />

    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>

</body>

</html>