<!DOCTYPE html>
<html>

<head th:insert="/teacher/teacher-fragments :: teacher_head">
    <title>Student Table</title>
</head>

<style>
    table td:empty::before {content: "Missing"; color:red}
</style>

<body id="page-top">
    <div id="wrapper">
        <!-- this is where side bar is -->
        <div th:insert="/teacher/teacher-fragments :: sidebar" />

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <!-- this is where nav bar is -->
                <div th:insert="/teacher/teacher-fragments :: navbar" />

                <div class="container-fluid">
                    <h1 class="fs-3 mb-4 text-start"
                        style="margin-bottom: 42px;font-size: 33px;color: rgb(72,72,72);font-weight: bold;font-family: 'Roboto', sans-serif;">
                        Student Table
                    </h1>
                    <div class="card shadow">
                        <div class="card-body text-dark">
                            <!-- where I have to write table -->
                            <table id="dataTable">
                                <thead class="table">
                                    <tr class="text-dark">
                                        <th>Student Name</th>
                                        <th th:each="assignment : ${assignmentList}">
                                            [[${assignment?.name}]]
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="student, iter : ${studentList}">
                                        <td>[[${student?.name}]]</td>
                                        <span th:if="${assignmentList.size == student.userAnswerList.size}">
                                            <span th:each="answer : ${student.userAnswerList}">
                                                <td>
                                                    [[${answer?.assignemntAnswerResult?.mark}]] Marks
                                                    <!-- <span th:if="${answer?.isLate == true}">Turned in late</span> -->
                                                </td>
                                            </span>
                                        </span>
                                        <span th:if="${assignmentList.size != student.userAnswerList.size}">
                                            <span th:each="answer : ${student.userAnswerList}">
                                                <span th:each="a : ${assignmentList}">
                                                    <span th:if="${a.id == answer?.assignment?.id}">
                                                        <td>
                                                            [[${answer?.assignemntAnswerResult?.mark}]] Marks
                                                            <!-- <span th:if="${answer?.isLate == true}">
                                                                Turned in late
                                                            </span> -->
                                                        </td>
                                                    </span>
                                                    <span th:if="${a.id != answer?.assignment?.id}">
                                                        <td></td>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2022</span></div>
                </div>
            </footer>
        </div>
    </div>
    <div th:insert="/teacher/teacher-fragments :: footer" />
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
</body>

</html>