<!DOCTYPE html>
<html>

<head th:insert="/teacher/teacher-fragments :: teacher_head">
    <title>Schedule File Exam</title>
</head>

<body id="page-top" style="font-family: 'Roboto', sans-serif;">
    <div id="wrapper">
        <!-- this is where side bar is -->
        <div th:insert="/teacher/teacher-fragments :: sidebar" />

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <!-- this is where nav bar is -->
                <div th:insert="/teacher/teacher-fragments :: navbar" />

                <!-- <input id="teacherId" type="hidden" th:value="${teacherId}">
                <input id="examId" type="hidden" th:value="${examId}">
                <input id="courseId" type="hidden" th:value="${courseId}"> -->

                <div class="container-fluid pb-5 pe-5 ps-5 pt-2" style="max-width: 45rem;" id="app">
                    <h1 class="fs-3 mb-3 text-secondary"
                        style="font-size: 33px; color: rgb(72,72,72); font-weight: bold;">
                        Schedule  File Exam</h1>

                    <div class="card mb-4 shadow-sm">
                        <form th:action="@{/teacher/uploadFileExam}" th:object="${data}" method="post">
                            <div class="card-body p-4 text-dark">

                                <label class="fs-6">Exam</label>
                                <div class="input-group mb-3">
                                    <input class="form-control" th:value="${exam?.name}" readonly />
                                    <input type="hidden" th:value="${exam?.id}" id="bhfeExam" name="bhfeExam">
                                    <input id="isSuccess" type="hidden" th:value="${isSuccess}">
                                </div>
                                <label class="fs-6">Batch</label>
                                <div class="input-group mb-3">
                                    <select th:field="*{bhfeBatch}" class="form-select"
                                        aria-label="Default select example" required>
                                        <span th:each="batch : ${batchList}">
                                            <option th:value="${batch.id}">[[${batch.name}]]</option>
                                        </span>
                                    </select>
                                </div>

                                <span id="calendar">
                                    <label class="fs-6">Start DateTime</label>
                                    <div class="input-group mb-3">
                                        <input type="datetime-local" class="form-control"
                                            placeholder="Exam Start DateTime" th:field="*{startDateTime}" id="startDate"
                                            required="true" />
                                    </div>
                                    <label class="fs-6">End DateTime</label>
                                    <div class="input-group mb-3">
                                        <input type="datetime-local" class="form-control"
                                            placeholder="Exam End DateTime" th:field="*{endDateTime}" id="endDate" required="true" />
                                    </div>
                                </span>

                                <div class="d-flex flex-wrap justify-content-end">
                                    <button type="submit"
                                        class="bg-gradient btn btn-primary float-end shadow-sm text-nowrap"
                                        style="width: 120px; height: 37px;">
                                        <i class="fa-solid fa-calendar-check me-2"></i>Schedule
                                    </button>
                                </div>

                            </div>
                        </form>
                    </div>

                </div>
                
            </div>
            <footer class="pb-2 pt-2 small text-dark" data-pg-collapsed style="background-color: #dfdfdf;">
                <div class="container pb-2 pt-2">
                    <p class="mb-0 text-center">&copy; 2022. All Rights
                        Reserved - Ace Inspiration</p>
                </div>
            </footer>
        </div>
    </div>
    </div>
    <div th:insert="/teacher/teacher-fragments :: footer" />
    <script>
        let isSuccess = document.getElementById("isSuccess").value;
        if (isSuccess) {
            Swal.fire(
                'Successfully Uploaded!',
                '',
                'success'
            ).then(() => window.location = "http://localhost:8080/teacher/exam-table");
        }

        // const app = Vue.createApp({
        //     data() {
        //         return {
        //             startDate: '',
        //             endDate: '',
        //             isStartDateFilled: false
        //         }
        //     },
        //     methods: {
        //         getDate(date) {
        //             let dd = String(date.getDate()).padStart(2, '0');
        //             let mm = String(date.getMonth() + 1).padStart(2, '0');
        //             let yyyy = date.getFullYear();
        //             let [time] = date.toTimeString().split(' ');
        //             value = yyyy + '-' + mm + '-' + dd + 'T' + time.substring(0, 5);
        //             return value;
        //         }
        //     },
        //     watch: {
        //         startDate: function (newStartDate, oldStartDate) {
        //             let dayAfterStartDate = new Date(newStartDate);
        //             dayAfterStartDate.setDate(dayAfterStartDate.getDate() + 1);
        //             let endDate = document.getElementById('endDate');
        //             endDate.setAttribute("min", this.getDate(dayAfterStartDate));
        //             this.isStartDateFilled = true;
        //         },
        //         endDate: function (newEndDate, oldEndDate) {
        //             let maxDate = new Date(newEndDate);
        //             maxDate.setDate(maxDate.getDate() - 1);
        //             startDate.setAttribute("max", this.getDate(maxDate));
        //         }
        //     },
        //     mounted() {
        //         let today = new Date();
        //         let startDate = document.getElementById('startDate');
        //         startDate.setAttribute("min", this.getDate(today));
        //     }
        // })
        // app.mount('#calendar');

    </script>
</body>

</html>