<!DOCTYPE html>
<html>

<head th:insert="/teacher/teacher-fragments :: teacher_head">
    

    <title>Upload Video</title>
</head>

<body id="page-top" style="font-family: 'Roboto', sans-serif;">
    <div id="wrapper">
        <!-- this is where side bar is -->
        <div th:insert="/teacher/teacher-fragments :: sidebar" />

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <!-- this is where nav bar is -->
                <div th:insert="/teacher/teacher-fragments :: navbar" />

                <div class="container-fluid mb-4" id="app">
                    <h1 class="fs-3 mb-3 text-secondary"
                        style="font-size: 33px; color: rgb(72,72,72); font-weight: bold; font-family: 'Roboto', sans-serif;">
                        Upload Video</h1>
                   

                    <div class="card shadow-sm">
                        <div class="card-header d-flex flex-wrap py-3">
                            <form>
                                <div class="me-3">
                                    <div class="col-auto text-nowrap" style="width: 237.078px;margin-top: 4px;">
                                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                            <label class="form-label text-dark fw-bold mb-1 h6">Choose the Date<span class="text-danger ms-1">*</span></label>
                                            <input type="datetime-local" class="form-control" v-model="date" required />
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form>
                                <div class="">
                                    <div class="col-auto text-nowrap" style="width: 237.078px;margin-top: 4px;">
                                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                            <label class="form-label text-dark fw-bold mb-1 h6">Choose the Batch<span class="text-danger ms-1">*</span></label>
                                            <select v-model="batchId" class="form-select" required
                                                aria-label="Default select example">
                                                <option disabled>Choose One Batch</option>
                                                <span th:each="batch : ${batchList}">
                                                    <option th:value="${batch?.id}">[[${batch?.name}]]</option>
                                                </span>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-body text-dark">
                            <table id="dataTable" class="display" style="width:100%">
                                <thead>
                                    <th>Select</th>
                                    <th class="text-nowrap">Video Name</th>
                                    <th class="text-nowrap">Course Name</th>
                                    <th>Preview</th>
                                </thead>
                                <tbody>
                                    <tr v-for="(video, index) in videoList" :key="index">
                                        <td>
                                            <input type="checkbox" :value="video.id" v-model="videoId"
                                                class="form-check-input border-dark ms-3" style="width: 20px; height: 20px;">
                                        </td>
                                        <td>{{ video.name }}</td>
                                        <td>{{ video.videoCourse.name}} </td>
                                        <td>

                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-outline-primary bg-gradient shadow-sm" data-bs-toggle="modal"
                                                :data-bs-target=`#staticBackdrop${video.id}`>
                                                <i class="fa-solid fa-eye"></i>
                                            </button>

                                            <!-- Modal -->
                                            <div class="modal fade" :id=`staticBackdrop${video.id}` data-bs-backdrop="static"
                                                data-bs-keyboard="false" tabindex="-1"
                                                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="border border-0 modal-header rounded rounded-0"
                                                        style="background: #f8f9fc; background-color: #324da0; padding-top: 14px; padding-bottom: 14px;">
                                                            <h5 style="color: rgb(75,75,75); font-family: 'Roboto', sans-serif; margin-top: 5px; margin-bottom: 2px; font-size: 22px;"
                                                            class="text-light" id="staticBackdropLabel">
                                                                {{video.name.substring(0, video.name.length - 4)}}
                                                            </h5>
                                                            <button type="button" class="btn-close btn-close-white"
                                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body d-flex justify-content-center p-0 pb-5">
                                                            <video width="400" height="350" controls
                                                                controlsList="nodownload">
                                                                <source
                                                                    :src=`/courses/${video.videoCourse.name}/video/${video.name}`
                                                                     />
                                                            </video>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <button @click.prevent="handleSubmit()" class="btn btn-primary  bg-gradient shadow-sm mt-3" style="width: 170px;">Upload<i class="fa-solid fa-upload ms-2"></i></button>
                        </div>
                    </div>
                </div>

            </div>
            <footer class="pb-2 pt-2 small text-dark" data-pg-collapsed style="background-color: #dfdfdf;">
                <div class="container pb-2 pt-2">
                    <p class="mb-0 text-center" style="font-family: 'Roboto', sans-serif;">&copy; 2022. All Rights Reserved - Ace Inspiration</p>
                </div>
            </footer>
        </div>
    </div>
    <div th:insert="/teacher/teacher-fragments :: footer" />
    <script src="/assets/js/postVideo.js"></script>
    

</body>

</html>