<!DOCTYPE html>
<html>

<head th:insert="/teacher/teacher-fragments :: teacher_head">
    <title>Student Table</title>
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- this is where side bar is -->
        <div th:insert="/teacher/teacher-fragments :: sidebar" />
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <!-- this is where nav bar is -->
                <div th:insert="/teacher/teacher-fragments :: navbar" />


                <div class="container-fluid">
                    <div class="align-items-center d-inline-flex flex-row mb-3 mt-2"> <i
                            class="d-inline-flex fa-2x fa-chart-bar fas fs-4 mb-2 me-2 text-primary"></i>
                        <h3 class="d-inline-flex fs-4 mb-2 text-dark"
                            style="font-weight: bold; font-family: Roboto, sans-serif;">
                            &nbsp;Teacher Dashboard</h3>
                    </div>


                    <h1 style="font-family: &#39;Roboto&#39;, sans-serif;" class="fs-5">
                        Classes you are currently teaching </h1>

                    <div class="mb-4 me-0 pe-0 row">
                        <input type="hidden" th:value="${teacherId}" id="teacherId">
                        <div class="col-lg-6 col-md-12 col-xl- col-xxl-3 mb-3 me-0" th:each="batch: ${batchList}">
                            <a class="text-decoration-none" th:href="@{'/student/getVideos/' + ${batch.id} }">
                                <div class="border-start-primary card pb-1 pt-1 py-2 shadow-sm"
                                    data-bss-hover-animate="pulse">
                                    <div class="card-body">
                                        <div class="row align-items-center no-gutters">
                                            <div class="col col-9 me-2">
                                                <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                                                    <p style="font-size: 18.2px;font-weight: bold;font-family: 'Roboto', sans-serif;color: #edba39;"
                                                        class="fs-5 text-capitalize text-dark">
                                                        [[${batch.getBatchCourse().getName()}]]</p>
                                                </div>
                                            </div>
                                            <div class="col-auto pe-0 ps-0">
                                                <i class="fa fa-2x fa-photo-video fa-users fas text-primary"></i>
                                            </div>
                                        </div>
                                        <div class="row align-items-center no-gutters">
                                            <div class="col col-9 me-2">
                                                <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                                                    <p style="font-size: 18.2px;font-weight: bold;font-family: 'Roboto', sans-serif;color: #edba39;"
                                                        class="fs-6 mb-0 text-capitalize text-danger">
                                                        [[${batch.getName()}]]</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div class=" row">
                        <div class="col-lg-6 col-md-12 ">
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <div class="d-md-flex no-block align-items-center">
                                        <div>
                                            <h5 class="card-title" style="font-family: Roboto, sans-serif;">Batch VS. Attendance Chart</h5>
                                            <h6 class="card-subtitle">you can check the count</h6>
                                        </div>
                                    </div>
                                    <canvas id="chartOne"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 ">
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    <div class="d-md-flex no-block align-items-center">
                                        <div>
                                            <h5 class="card-title" style="font-family: Roboto, sans-serif;">Batch VS. Attendance Chart</h5>
                                            <h6 class="card-subtitle">you can check the count</h6>
                                        </div>
                                    </div>
                                    <canvas id="chartTwo"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js"></script>


    <div th:insert="/teacher/teacher-fragments :: footer" />
    <script src="/assets/js/teacherDashboard.js"></script>

</body>

</html>