<!DOCTYPE html>
<html>

<head th:insert="/teacher/teacher-fragments :: teacher_head">
    <title>File Exam Grade Table</title>
</head>

<style>kfq
    .badge-soft-danger {
        color: #cf1919 !important;
        background-color: rgba(245, 110, 110, 0.226);
    }
</style>

<body id="page-top" style="font-family: 'Roboto', sans-serif;">
    <div id="wrapper">
        <!-- this is where side bar is -->
        <div th:insert="/teacher/teacher-fragments :: sidebar" />

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <!-- this is where nav bar is -->
                <div th:insert="/teacher/teacher-fragments :: navbar" />

                <div class="container-fluid">
                    <nav class="d-flex justify-content-center">
                        <div class="border-light mb-4 nav nav-fill nav-pills"
                            style="width: 500px; box-shadow: 0px 1px 5px 3px #e6e6e6; border-radius: 74px; border: 7px solid #000000;"
                            id="nav-tab" role="tablist">
                            <a th:href="@{/teacher/file-exam-grade}" class="active fw-bold nav-link rounded-pill">File Exam</a>
                            <a th:href="@{/teacher/exam-grade}" class="fw-bold nav-link rounded-pill">MCQ Exam</a>
                        </div>
                    </nav>
                    <div class="card shadow-sm mt-4">
                        <div class="card-header py-3">
                            <form th:object="${batch}" th:action="@{/teacher/searchStudentFileExamsByBatch}"
                                method="post" class="d-flex d-lg-flex flex-lg-wrap flex-wrap">
                                <div class="me-3">
                                    <div class="col-auto text-nowrap" style="width: 237.078px;margin-top: 4px;">
                                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                            <label class="form-label">Batch</label>
                                            <select th:field="*{id}" class="form-select"
                                                aria-label="Default select example">
                                                <option th:each="batch : ${batchList}" th:value="${batch?.id}">
                                                    [[${batch?.name}]]
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-top: 2.3rem;">
                                    <button type="submit" class="btn btn-primary bg-gradient shadow-sm">
                                        Search
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div class="card-body text-dark">

                            <!-- where I have to write table -->
                            <table id="dataTable2" class="display p-2">
                                <thead class="table">
                                    <tr class="text-dark">
                                        <th>Student Name</th>
                                        <th th:each="bhfe : ${bhfeList}">
                                            [[${bhfe?.bhfeExam?.name}]]
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="student, iter : ${studentList}">
                                        <td>[[${student?.name}]]</td>
                                        <span th:if="${bhfeList.size == student?.examAnswerList.size}">
                                            <span th:each="answer, iter : ${student.examAnswerList}">
                                                <td>
                                                    <span
                                                        style="color: #009520; font-weight: bold;"
                                                        th:if="${answer?.fileExamAnswerResult != null}">
                                                        [[${answer?.fileExamAnswerResult?.mark}]] / [[${bhfeList[iter.index].bhfeExam.totalMark}]] Marks
                                                    </span>
                                                    <span
                                                        style="color: #df6a00; font-weight: 700;"
                                                        th:if="${answer?.fileExamAnswerResult == null}">
                                                        Not yet graded
                                                    </span>
                                                </td>
                                            </span>
                                        </span>

                                        <span
                                            th:if="${bhfeList.size != student.examAnswerList.size and student.examAnswerList.size > 0}">
                                            <span th:each="a : ${bhfeList}">
                                                <td>
                                                    <span th:each="answer, iter : ${student.examAnswerList}">
                                                        <span
                                                            th:if="${a.bhfeExam.id == answer?.batchHasFileExam?.bhfeExam.id}">
                                                            <span
                                                                style="color: #009520; font-weight: bold;"
                                                                th:if="${answer?.fileExamAnswerResult != null}">
                                                                [[${answer?.fileExamAnswerResult?.mark}]] / [[${bhfeList[iter.index].bhfeExam.totalMark}]] Marks
                                                            </span>
                                                            <span
                                                                style="color: #df6a00; font-weight: 700;"
                                                                th:if="${answer?.fileExamAnswerResult == null}">
                                                                Not yet graded
                                                            </span>
                                                        </span>
                                                        <span
                                                            th:if="${a.bhfeExam.id != answer?.batchHasFileExam?.bhfeExam.id}">

                                                        </span>
                                                    </span>
                                                </td>
                                            </span>
                                        </span>

                                        <span th:if="${student.examAnswerList.size == 0}">
                                            <span th:each="a : ${bhfeList}">
                                                <td></td>
                                            </span>
                                        </span>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <footer class="pb-2 pt-2 small text-dark" data-pg-collapsed style="background-color: #dfdfdf;">
                <div class="container pb-2 pt-2">
                    <p class="mb-0 text-center">&copy; 2022. All Rights
                        Reserved - Ace Inspiration</p>
                </div>
            </footer>
        </div>
    </div>
    <div th:insert="/teacher/teacher-fragments :: footer" />
    <script>
        const elements = document.getElementsByTagName('td');
        Array.from(elements).forEach((element, index) => {
            if (element.innerText == '') {
                element.innerHTML = 'Missing'
                element.style.color = '#cf0000';
                element.style.fontWeight = 800;
                element.style.fontFamily = 'Roboto';
            }
        });
        $(document).ready(function () {
            $('#dataTable2').DataTable();
        });
    </script>
</body>

</html>