<!DOCTYPE html>
<html>

<head th:insert="/teacher/teacher-fragments :: teacher_head">
    <title>Student Table</title>
</head>


<body id="page-top">
    <div id="wrapper">
        <!-- this is where side bar is -->
        <div th:insert="/teacher/teacher-fragments :: sidebar" />

        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <!-- this is where nav bar is -->
                <div th:insert="/teacher/teacher-fragments :: navbar" />

                <div class="container-fluid">
                    <h1 class="fs-3 mb-4 text-start"
                        style="margin-bottom: 42px;font-size: 33px;color: rgb(72,72,72);font-weight: bold;font-family: 'Roboto', sans-serif;">
                        Upload Resource
                    </h1>
                    <div class="card shadow">
                        <div class="card-body text-dark">
                            <h2 class="text-success text-center">[[${msg}]]</h2>
                            <table id="dataTable" class="display p-2">
                                <thead>
                                    <th>Course</th>
                                    <th>Resource</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>
                                    <span th:each="course : ${teacherCourseList}">
                                        <tr th:each="resource : ${course.resourceList}">
                                            <td th:value="${course?.id}">[[${course?.name}]]</td>
                                            <td th:value="${resource?.id}">[[${resource?.name}]]</td>
                                            <td>
                                                <a  
                                                    class="btn btn-primary"
                                                    th:href="@{'/teacher/uploadResourceForm/' + ${resource?.id}  + '/' + ${course?.id} + '/' + ${resource?.name} }">
                                                    Upload
                                                </a>
                                            </td>
                                        </tr>
                                    </span>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Brand 2022</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <div th:insert="/teacher/teacher-fragments :: footer" />
    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
        });
    </script>
</body>

</html>